WebContent/WEB-INF/wsdl/AMVSWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="AMVSWebService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="AMVSWebService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://object.vehicle.ws.fsl.org" schemaLocation="AMVSWebService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://exceptions.ws.fsl.org" schemaLocation="AMVSWebService_schema3.xsd"/>
    </xsd:schema>
  </types>
  <message name="getVehicleBOByPlateNumber">
    <part element="tns:getVehicleBOByPlateNumber" name="parameters"/>
  </message>
  <message name="getVehicleBOByPlateNumberResponse">
    <part element="tns:getVehicleBOByPlateNumberResponse" name="parameters"/>
  </message>
  <message name="FslWebServiceException_Exception">
    <part element="ns1:FslWebServiceException" name="fault" xmlns:ns1="http://exceptions.ws.fsl.org"/>
  </message>
  <message name="getVehicleByPlateNumber">
    <part element="tns:getVehicleByPlateNumber" name="parameters"/>
  </message>
  <message name="getVehicleByPlateNumberResponse">
    <part element="tns:getVehicleByPlateNumberResponse" name="parameters"/>
  </message>
  <portType name="AMVSWebServiceDelegate">
    <operation name="getVehicleBOByPlateNumber">
      <input message="tns:getVehicleBOByPlateNumber" wsam:Action="http://webservices.roms.toms.ta.fsl/AMVSWebServiceDelegate/getVehicleBOByPlateNumberRequest"/>
      <output message="tns:getVehicleBOByPlateNumberResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/AMVSWebServiceDelegate/getVehicleBOByPlateNumberResponse"/>
      <fault message="tns:FslWebServiceException_Exception" name="FslWebServiceException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/AMVSWebServiceDelegate/getVehicleBOByPlateNumber/Fault/FslWebServiceException_Exception"/>
    </operation>
    <operation name="getVehicleByPlateNumber">
      <input message="tns:getVehicleByPlateNumber" wsam:Action="http://webservices.roms.toms.ta.fsl/AMVSWebServiceDelegate/getVehicleByPlateNumberRequest"/>
      <output message="tns:getVehicleByPlateNumberResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/AMVSWebServiceDelegate/getVehicleByPlateNumberResponse"/>
      <fault message="tns:FslWebServiceException_Exception" name="FslWebServiceException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/AMVSWebServiceDelegate/getVehicleByPlateNumber/Fault/FslWebServiceException_Exception"/>
    </operation>
  </portType>
  <binding name="AMVSWebServicePortBinding" type="tns:AMVSWebServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getVehicleBOByPlateNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FslWebServiceException_Exception">
        <soap:fault name="FslWebServiceException_Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getVehicleByPlateNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FslWebServiceException_Exception">
        <soap:fault name="FslWebServiceException_Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AMVSWebService">
    <port binding="tns:AMVSWebServicePortBinding" name="AMVSWebServicePort">
      <soap:address location="http://localhost:9080/ROMSWS/AMVSWebService"/>
    </port>
  </service>
</definitions>