WebContent/WEB-INF/wsdl/AuthorizationService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="AuthorizationService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="AuthorizationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="validatePerson">
    <part element="tns:validatePerson" name="parameters"/>
  </message>
  <message name="validatePersonResponse">
    <part element="tns:validatePersonResponse" name="parameters"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="InvalidFieldException">
    <part element="tns:InvalidFieldException" name="fault"/>
  </message>
  <message name="hasPermission">
    <part element="tns:hasPermission" name="parameters"/>
  </message>
  <message name="hasPermissionResponse">
    <part element="tns:hasPermissionResponse" name="parameters"/>
  </message>
  <portType name="AuthorizationDelegate">
    <operation name="validatePerson">
      <input message="tns:validatePerson" wsam:Action="http://webservices.roms.toms.ta.fsl/AuthorizationDelegate/validatePersonRequest"/>
      <output message="tns:validatePersonResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/AuthorizationDelegate/validatePersonResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/AuthorizationDelegate/validatePerson/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/AuthorizationDelegate/validatePerson/Fault/InvalidFieldException"/>
    </operation>
    <operation name="hasPermission">
      <input message="tns:hasPermission" wsam:Action="http://webservices.roms.toms.ta.fsl/AuthorizationDelegate/hasPermissionRequest"/>
      <output message="tns:hasPermissionResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/AuthorizationDelegate/hasPermissionResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/AuthorizationDelegate/hasPermission/Fault/RequiredFieldMissingException"/>
    </operation>
  </portType>
  <binding name="AuthorizationPortBinding" type="tns:AuthorizationDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="validatePerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
    </operation>
    <operation name="hasPermission">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AuthorizationService">
    <port binding="tns:AuthorizationPortBinding" name="AuthorizationPort">
      <soap:address location="http://localhost:9080/ROMSWS/AuthorizationService"/>
    </port>
  </service>
</definitions>