WebContent/WEB-INF/wsdl/BIMSWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:53 PM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="BIMSWebService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="BIMSWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getBadgeDetails">
    <part element="tns:getBadgeDetails" name="parameters"/>
  </message>
  <message name="getBadgeDetailsResponse">
    <part element="tns:getBadgeDetailsResponse" name="parameters"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="NoRecordFoundException">
    <part element="tns:NoRecordFoundException" name="fault"/>
  </message>
  <message name="getBadgeDetailsDriverConductor">
    <part element="tns:getBadgeDetailsDriverConductor" name="parameters"/>
  </message>
  <message name="getBadgeDetailsDriverConductorResponse">
    <part element="tns:getBadgeDetailsDriverConductorResponse" name="parameters"/>
  </message>
  <message name="getBadgeByPersonDetails">
    <part element="tns:getBadgeByPersonDetails" name="parameters"/>
  </message>
  <message name="getBadgeByPersonDetailsResponse">
    <part element="tns:getBadgeByPersonDetailsResponse" name="parameters"/>
  </message>
  <portType name="BIMSWebServiceDelegate">
    <operation name="getBadgeDetails">
      <input message="tns:getBadgeDetails" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeDetailsRequest"/>
      <output message="tns:getBadgeDetailsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeDetailsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeDetails/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeDetails/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getBadgeDetailsDriverConductor">
      <input message="tns:getBadgeDetailsDriverConductor" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeDetailsDriverConductorRequest"/>
      <output message="tns:getBadgeDetailsDriverConductorResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeDetailsDriverConductorResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeDetailsDriverConductor/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeDetailsDriverConductor/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getBadgeByPersonDetails">
      <input message="tns:getBadgeByPersonDetails" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeByPersonDetailsRequest"/>
      <output message="tns:getBadgeByPersonDetailsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeByPersonDetailsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeByPersonDetails/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/BIMSWebServiceDelegate/getBadgeByPersonDetails/Fault/NoRecordFoundException"/>
    </operation>
  </portType>
  <binding name="BIMSWebServicePortBinding" type="tns:BIMSWebServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getBadgeDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getBadgeDetailsDriverConductor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getBadgeByPersonDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BIMSWebService">
    <port binding="tns:BIMSWebServicePortBinding" name="BIMSWebServicePort">
      <soap:address location="http://localhost:9080/ROMSWS/BIMSWebService"/>
    </port>
  </service>
</definitions>