WebContent/WEB-INF/wsdl/DocumentsManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:53 PM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="DocumentsManagerService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="DocumentsManagerService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="DocumentsManagerService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="search">
    <part element="tns:search" name="parameters"/>
  </message>
  <message name="searchResponse">
    <part element="tns:searchResponse" name="parameters"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="createWarningNotice">
    <part element="tns:createWarningNotice" name="parameters"/>
  </message>
  <message name="createWarningNoticeResponse">
    <part element="tns:createWarningNoticeResponse" name="parameters"/>
  </message>
  <message name="ErrorSavingException">
    <part element="tns:ErrorSavingException" name="fault"/>
  </message>
  <message name="lookupWarningNotice">
    <part element="tns:lookupWarningNotice" name="parameters"/>
  </message>
  <message name="lookupWarningNoticeResponse">
    <part element="tns:lookupWarningNoticeResponse" name="parameters"/>
  </message>
  <message name="NoRecordFoundException">
    <part element="tns:NoRecordFoundException" name="fault"/>
  </message>
  <message name="updateWarningNotice">
    <part element="tns:updateWarningNotice" name="parameters"/>
  </message>
  <message name="updateWarningNoticeResponse">
    <part element="tns:updateWarningNoticeResponse" name="parameters"/>
  </message>
  <message name="generateWarningNoticeForm">
    <part element="tns:generateWarningNoticeForm" name="parameters"/>
  </message>
  <message name="generateWarningNoticeFormResponse">
    <part element="tns:generateWarningNoticeFormResponse" name="parameters"/>
  </message>
  <message name="processScannedWarningNoticeDocuments">
    <part element="tns:processScannedWarningNoticeDocuments" name="parameters"/>
  </message>
  <message name="processScannedWarningNoticeDocumentsResponse">
    <part element="tns:processScannedWarningNoticeDocumentsResponse" name="parameters"/>
  </message>
  <message name="getWarningNoticeDetails">
    <part element="tns:getWarningNoticeDetails" name="parameters"/>
  </message>
  <message name="getWarningNoticeDetailsResponse">
    <part element="tns:getWarningNoticeDetailsResponse" name="parameters"/>
  </message>
  <message name="createWarningNoProsecution">
    <part element="tns:createWarningNoProsecution" name="parameters"/>
  </message>
  <message name="createWarningNoProsecutionResponse">
    <part element="tns:createWarningNoProsecutionResponse" name="parameters"/>
  </message>
  <message name="lookupWarningNoProsecution">
    <part element="tns:lookupWarningNoProsecution" name="parameters"/>
  </message>
  <message name="lookupWarningNoProsecutionResponse">
    <part element="tns:lookupWarningNoProsecutionResponse" name="parameters"/>
  </message>
  <message name="updateWarningNoProsecution">
    <part element="tns:updateWarningNoProsecution" name="parameters"/>
  </message>
  <message name="updateWarningNoProsecutionResponse">
    <part element="tns:updateWarningNoProsecutionResponse" name="parameters"/>
  </message>
  <message name="generateWarningNoProsecutionForm">
    <part element="tns:generateWarningNoProsecutionForm" name="parameters"/>
  </message>
  <message name="generateWarningNoProsecutionFormResponse">
    <part element="tns:generateWarningNoProsecutionFormResponse" name="parameters"/>
  </message>
  <message name="processScannedWarningNoProsecutionDocuments">
    <part element="tns:processScannedWarningNoProsecutionDocuments" name="parameters"/>
  </message>
  <message name="processScannedWarningNoProsecutionDocumentsResponse">
    <part element="tns:processScannedWarningNoProsecutionDocumentsResponse" name="parameters"/>
  </message>
  <message name="getWarningNoProsecutionDetails">
    <part element="tns:getWarningNoProsecutionDetails" name="parameters"/>
  </message>
  <message name="getWarningNoProsecutionDetailsResponse">
    <part element="tns:getWarningNoProsecutionDetailsResponse" name="parameters"/>
  </message>
  <message name="createSummons">
    <part element="tns:createSummons" name="parameters"/>
  </message>
  <message name="createSummonsResponse">
    <part element="tns:createSummonsResponse" name="parameters"/>
  </message>
  <message name="lookupSummons">
    <part element="tns:lookupSummons" name="parameters"/>
  </message>
  <message name="lookupSummonsResponse">
    <part element="tns:lookupSummonsResponse" name="parameters"/>
  </message>
  <message name="updateSummons">
    <part element="tns:updateSummons" name="parameters"/>
  </message>
  <message name="updateSummonsResponse">
    <part element="tns:updateSummonsResponse" name="parameters"/>
  </message>
  <message name="withdrawSummons">
    <part element="tns:withdrawSummons" name="parameters"/>
  </message>
  <message name="withdrawSummonsResponse">
    <part element="tns:withdrawSummonsResponse" name="parameters"/>
  </message>
  <message name="generateSummonsDischargeAndReleaseForm">
    <part element="tns:generateSummonsDischargeAndReleaseForm" name="parameters"/>
  </message>
  <message name="generateSummonsDischargeAndReleaseFormResponse">
    <part element="tns:generateSummonsDischargeAndReleaseFormResponse" name="parameters"/>
  </message>
  <message name="generateSummonsForm">
    <part element="tns:generateSummonsForm" name="parameters"/>
  </message>
  <message name="generateSummonsFormResponse">
    <part element="tns:generateSummonsFormResponse" name="parameters"/>
  </message>
  <message name="processScannedSummonsDocuments">
    <part element="tns:processScannedSummonsDocuments" name="parameters"/>
  </message>
  <message name="processScannedSummonsDocumentsResponse">
    <part element="tns:processScannedSummonsDocumentsResponse" name="parameters"/>
  </message>
  <message name="getSummonsDetails">
    <part element="tns:getSummonsDetails" name="parameters"/>
  </message>
  <message name="getSummonsDetailsResponse">
    <part element="tns:getSummonsDetailsResponse" name="parameters"/>
  </message>
  <message name="addJPDetailsFromRoadCheck">
    <part element="tns:addJPDetailsFromRoadCheck" name="parameters"/>
  </message>
  <message name="addJPDetailsFromRoadCheckResponse">
    <part element="tns:addJPDetailsFromRoadCheckResponse" name="parameters"/>
  </message>
  <message name="addJPDetailsFromRoadCheckRest">
    <part element="tns:addJPDetailsFromRoadCheckRest" name="parameters"/>
  </message>
  <message name="addJPDetailsFromRoadCheckRestResponse">
    <part element="tns:addJPDetailsFromRoadCheckRestResponse" name="parameters"/>
  </message>
  <message name="saveCourtAppearances">
    <part element="tns:saveCourtAppearances" name="parameters"/>
  </message>
  <message name="saveCourtAppearancesResponse">
    <part element="tns:saveCourtAppearancesResponse" name="parameters"/>
  </message>
  <message name="saveCourtAppearance">
    <part element="tns:saveCourtAppearance" name="parameters"/>
  </message>
  <message name="saveCourtAppearanceResponse">
    <part element="tns:saveCourtAppearanceResponse" name="parameters"/>
  </message>
  <message name="updateCourtAppearances">
    <part element="tns:updateCourtAppearances" name="parameters"/>
  </message>
  <message name="updateCourtAppearancesResponse">
    <part element="tns:updateCourtAppearancesResponse" name="parameters"/>
  </message>
  <message name="updateCourtAppearance">
    <part element="tns:updateCourtAppearance" name="parameters"/>
  </message>
  <message name="updateCourtAppearanceResponse">
    <part element="tns:updateCourtAppearanceResponse" name="parameters"/>
  </message>
  <message name="updateCourtCase">
    <part element="tns:updateCourtCase" name="parameters"/>
  </message>
  <message name="updateCourtCaseResponse">
    <part element="tns:updateCourtCaseResponse" name="parameters"/>
  </message>
  <message name="overrideCourtCaseDetails">
    <part element="tns:overrideCourtCaseDetails" name="parameters"/>
  </message>
  <message name="overrideCourtCaseDetailsResponse">
    <part element="tns:overrideCourtCaseDetailsResponse" name="parameters"/>
  </message>
  <message name="verifyAllDocuments">
    <part element="tns:verifyAllDocuments" name="parameters"/>
  </message>
  <message name="verifyAllDocumentsResponse">
    <part element="tns:verifyAllDocumentsResponse" name="parameters"/>
  </message>
  <message name="denyVerificationAllDocuments">
    <part element="tns:denyVerificationAllDocuments" name="parameters"/>
  </message>
  <message name="denyVerificationAllDocumentsResponse">
    <part element="tns:denyVerificationAllDocumentsResponse" name="parameters"/>
  </message>
  <message name="serveAllDocumentsRest">
    <part element="tns:serveAllDocumentsRest" name="parameters"/>
  </message>
  <message name="serveAllDocumentsRestResponse">
    <part element="tns:serveAllDocumentsRestResponse" name="parameters"/>
  </message>
  <message name="serveAllDocuments">
    <part element="tns:serveAllDocuments" name="parameters"/>
  </message>
  <message name="serveAllDocumentsResponse">
    <part element="tns:serveAllDocumentsResponse" name="parameters"/>
  </message>
  <message name="printAllDocumentsMobile">
    <part element="tns:printAllDocumentsMobile" name="parameters"/>
  </message>
  <message name="printAllDocumentsMobileResponse">
    <part element="tns:printAllDocumentsMobileResponse" name="parameters"/>
  </message>
  <message name="printAllDocuments">
    <part element="tns:printAllDocuments" name="parameters"/>
  </message>
  <message name="printAllDocumentsResponse">
    <part element="tns:printAllDocumentsResponse" name="parameters"/>
  </message>
  <message name="cancelAllDocuments">
    <part element="tns:cancelAllDocuments" name="parameters"/>
  </message>
  <message name="cancelAllDocumentsResponse">
    <part element="tns:cancelAllDocumentsResponse" name="parameters"/>
  </message>
  <message name="manualSerialExists">
    <part element="tns:manualSerialExists" name="parameters"/>
  </message>
  <message name="manualSerialExistsResponse">
    <part element="tns:manualSerialExistsResponse" name="parameters"/>
  </message>
  <message name="getPersonByTRN">
    <part element="tns:getPersonByTRN" name="parameters"/>
  </message>
  <message name="getPersonByTRNResponse">
    <part element="tns:getPersonByTRNResponse" name="parameters"/>
  </message>
  <message name="getInitialCourtDateByCourtCaseId">
    <part element="tns:getInitialCourtDateByCourtCaseId" name="parameters"/>
  </message>
  <message name="getInitialCourtDateByCourtCaseIdResponse">
    <part element="tns:getInitialCourtDateByCourtCaseIdResponse" name="parameters"/>
  </message>
  <message name="getAssociatedWarningNotice">
    <part element="tns:getAssociatedWarningNotice" name="parameters"/>
  </message>
  <message name="getAssociatedWarningNoticeResponse">
    <part element="tns:getAssociatedWarningNoticeResponse" name="parameters"/>
  </message>
  <message name="formatDocumentComment">
    <part element="tns:formatDocumentComment" name="parameters"/>
  </message>
  <message name="formatDocumentCommentResponse">
    <part element="tns:formatDocumentCommentResponse" name="parameters"/>
  </message>
  <message name="formatOverrideDocumentComment">
    <part element="tns:formatOverrideDocumentComment" name="parameters"/>
  </message>
  <message name="formatOverrideDocumentCommentResponse">
    <part element="tns:formatOverrideDocumentCommentResponse" name="parameters"/>
  </message>
  <message name="formatDenyOverrideDocumentComment">
    <part element="tns:formatDenyOverrideDocumentComment" name="parameters"/>
  </message>
  <message name="formatDenyOverrideDocumentCommentResponse">
    <part element="tns:formatDenyOverrideDocumentCommentResponse" name="parameters"/>
  </message>
  <message name="getDocumentByteList">
    <part element="tns:getDocumentByteList" name="parameters"/>
  </message>
  <message name="getDocumentByteListResponse">
    <part element="tns:getDocumentByteListResponse" name="parameters"/>
  </message>
  <portType name="DocumentsManagerDelegate">
    <operation name="search">
      <input message="tns:search" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/searchRequest"/>
      <output message="tns:searchResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/searchResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/search/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="createWarningNotice">
      <input message="tns:createWarningNotice" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createWarningNoticeRequest"/>
      <output message="tns:createWarningNoticeResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createWarningNoticeResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createWarningNotice/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createWarningNotice/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="lookupWarningNotice">
      <input message="tns:lookupWarningNotice" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupWarningNoticeRequest"/>
      <output message="tns:lookupWarningNoticeResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupWarningNoticeResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupWarningNotice/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupWarningNotice/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updateWarningNotice">
      <input message="tns:updateWarningNotice" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateWarningNoticeRequest"/>
      <output message="tns:updateWarningNoticeResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateWarningNoticeResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateWarningNotice/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateWarningNotice/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="generateWarningNoticeForm">
      <input message="tns:generateWarningNoticeForm" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateWarningNoticeFormRequest"/>
      <output message="tns:generateWarningNoticeFormResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateWarningNoticeFormResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateWarningNoticeForm/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="processScannedWarningNoticeDocuments">
      <input message="tns:processScannedWarningNoticeDocuments" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/processScannedWarningNoticeDocumentsRequest"/>
      <output message="tns:processScannedWarningNoticeDocumentsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/processScannedWarningNoticeDocumentsResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/processScannedWarningNoticeDocuments/Fault/ErrorSavingException"/>
    </operation>
    <operation name="getWarningNoticeDetails">
      <input message="tns:getWarningNoticeDetails" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoticeDetailsRequest"/>
      <output message="tns:getWarningNoticeDetailsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoticeDetailsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoticeDetails/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoticeDetails/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoticeDetails/Fault/ErrorSavingException"/>
    </operation>
    <operation name="createWarningNoProsecution">
      <input message="tns:createWarningNoProsecution" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createWarningNoProsecutionRequest"/>
      <output message="tns:createWarningNoProsecutionResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createWarningNoProsecutionResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createWarningNoProsecution/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createWarningNoProsecution/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="lookupWarningNoProsecution">
      <input message="tns:lookupWarningNoProsecution" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupWarningNoProsecutionRequest"/>
      <output message="tns:lookupWarningNoProsecutionResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupWarningNoProsecutionResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupWarningNoProsecution/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupWarningNoProsecution/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updateWarningNoProsecution">
      <input message="tns:updateWarningNoProsecution" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateWarningNoProsecutionRequest"/>
      <output message="tns:updateWarningNoProsecutionResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateWarningNoProsecutionResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateWarningNoProsecution/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateWarningNoProsecution/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="generateWarningNoProsecutionForm">
      <input message="tns:generateWarningNoProsecutionForm" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateWarningNoProsecutionFormRequest"/>
      <output message="tns:generateWarningNoProsecutionFormResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateWarningNoProsecutionFormResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateWarningNoProsecutionForm/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="processScannedWarningNoProsecutionDocuments">
      <input message="tns:processScannedWarningNoProsecutionDocuments" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/processScannedWarningNoProsecutionDocumentsRequest"/>
      <output message="tns:processScannedWarningNoProsecutionDocumentsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/processScannedWarningNoProsecutionDocumentsResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/processScannedWarningNoProsecutionDocuments/Fault/ErrorSavingException"/>
    </operation>
    <operation name="getWarningNoProsecutionDetails">
      <input message="tns:getWarningNoProsecutionDetails" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoProsecutionDetailsRequest"/>
      <output message="tns:getWarningNoProsecutionDetailsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoProsecutionDetailsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoProsecutionDetails/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoProsecutionDetails/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getWarningNoProsecutionDetails/Fault/ErrorSavingException"/>
    </operation>
    <operation name="createSummons">
      <input message="tns:createSummons" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createSummonsRequest"/>
      <output message="tns:createSummonsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createSummonsResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createSummons/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/createSummons/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="lookupSummons">
      <input message="tns:lookupSummons" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupSummonsRequest"/>
      <output message="tns:lookupSummonsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupSummonsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupSummons/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupSummons/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/lookupSummons/Fault/ErrorSavingException"/>
    </operation>
    <operation name="updateSummons">
      <input message="tns:updateSummons" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateSummonsRequest"/>
      <output message="tns:updateSummonsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateSummonsResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateSummons/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateSummons/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="withdrawSummons">
      <input message="tns:withdrawSummons" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/withdrawSummonsRequest"/>
      <output message="tns:withdrawSummonsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/withdrawSummonsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/withdrawSummons/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/withdrawSummons/Fault/ErrorSavingException"/>
    </operation>
    <operation name="generateSummonsDischargeAndReleaseForm">
      <input message="tns:generateSummonsDischargeAndReleaseForm" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateSummonsDischargeAndReleaseFormRequest"/>
      <output message="tns:generateSummonsDischargeAndReleaseFormResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateSummonsDischargeAndReleaseFormResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateSummonsDischargeAndReleaseForm/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="generateSummonsForm">
      <input message="tns:generateSummonsForm" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateSummonsFormRequest"/>
      <output message="tns:generateSummonsFormResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateSummonsFormResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/generateSummonsForm/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="processScannedSummonsDocuments">
      <input message="tns:processScannedSummonsDocuments" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/processScannedSummonsDocumentsRequest"/>
      <output message="tns:processScannedSummonsDocumentsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/processScannedSummonsDocumentsResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/processScannedSummonsDocuments/Fault/ErrorSavingException"/>
    </operation>
    <operation name="getSummonsDetails">
      <input message="tns:getSummonsDetails" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getSummonsDetailsRequest"/>
      <output message="tns:getSummonsDetailsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getSummonsDetailsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getSummonsDetails/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getSummonsDetails/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getSummonsDetails/Fault/ErrorSavingException"/>
    </operation>
    <operation name="addJPDetailsFromRoadCheck">
      <input message="tns:addJPDetailsFromRoadCheck" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheckRequest"/>
      <output message="tns:addJPDetailsFromRoadCheckResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheckResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheck/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheck/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheck/Fault/ErrorSavingException"/>
    </operation>
    <operation name="addJPDetailsFromRoadCheckRest">
      <input message="tns:addJPDetailsFromRoadCheckRest" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheckRestRequest"/>
      <output message="tns:addJPDetailsFromRoadCheckRestResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheckRestResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheckRest/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheckRest/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/addJPDetailsFromRoadCheckRest/Fault/ErrorSavingException"/>
    </operation>
    <operation name="saveCourtAppearances">
      <input message="tns:saveCourtAppearances" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/saveCourtAppearancesRequest"/>
      <output message="tns:saveCourtAppearancesResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/saveCourtAppearancesResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/saveCourtAppearances/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="saveCourtAppearance">
      <input message="tns:saveCourtAppearance" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/saveCourtAppearanceRequest"/>
      <output message="tns:saveCourtAppearanceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/saveCourtAppearanceResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/saveCourtAppearance/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updateCourtAppearances">
      <input message="tns:updateCourtAppearances" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateCourtAppearancesRequest"/>
      <output message="tns:updateCourtAppearancesResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateCourtAppearancesResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateCourtAppearances/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updateCourtAppearance">
      <input message="tns:updateCourtAppearance" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateCourtAppearanceRequest"/>
      <output message="tns:updateCourtAppearanceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateCourtAppearanceResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateCourtAppearance/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updateCourtCase">
      <input message="tns:updateCourtCase" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateCourtCaseRequest"/>
      <output message="tns:updateCourtCaseResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateCourtCaseResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/updateCourtCase/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="overrideCourtCaseDetails">
      <input message="tns:overrideCourtCaseDetails" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/overrideCourtCaseDetailsRequest"/>
      <output message="tns:overrideCourtCaseDetailsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/overrideCourtCaseDetailsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/overrideCourtCaseDetails/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="verifyAllDocuments">
      <input message="tns:verifyAllDocuments" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/verifyAllDocumentsRequest"/>
      <output message="tns:verifyAllDocumentsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/verifyAllDocumentsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/verifyAllDocuments/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/verifyAllDocuments/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/verifyAllDocuments/Fault/ErrorSavingException"/>
    </operation>
    <operation name="denyVerificationAllDocuments">
      <input message="tns:denyVerificationAllDocuments" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/denyVerificationAllDocumentsRequest"/>
      <output message="tns:denyVerificationAllDocumentsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/denyVerificationAllDocumentsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/denyVerificationAllDocuments/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/denyVerificationAllDocuments/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/denyVerificationAllDocuments/Fault/ErrorSavingException"/>
    </operation>
    <operation name="serveAllDocumentsRest">
      <input message="tns:serveAllDocumentsRest" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocumentsRestRequest"/>
      <output message="tns:serveAllDocumentsRestResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocumentsRestResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocumentsRest/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocumentsRest/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocumentsRest/Fault/ErrorSavingException"/>
    </operation>
    <operation name="serveAllDocuments">
      <input message="tns:serveAllDocuments" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocumentsRequest"/>
      <output message="tns:serveAllDocumentsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocumentsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocuments/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocuments/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/serveAllDocuments/Fault/ErrorSavingException"/>
    </operation>
    <operation name="printAllDocumentsMobile">
      <input message="tns:printAllDocumentsMobile" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocumentsMobileRequest"/>
      <output message="tns:printAllDocumentsMobileResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocumentsMobileResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocumentsMobile/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocumentsMobile/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocumentsMobile/Fault/ErrorSavingException"/>
    </operation>
    <operation name="printAllDocuments">
      <input message="tns:printAllDocuments" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocumentsRequest"/>
      <output message="tns:printAllDocumentsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocumentsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocuments/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocuments/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/printAllDocuments/Fault/ErrorSavingException"/>
    </operation>
    <operation name="cancelAllDocuments">
      <input message="tns:cancelAllDocuments" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/cancelAllDocumentsRequest"/>
      <output message="tns:cancelAllDocumentsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/cancelAllDocumentsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/cancelAllDocuments/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/cancelAllDocuments/Fault/RequiredFieldMissingException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/cancelAllDocuments/Fault/ErrorSavingException"/>
    </operation>
    <operation name="manualSerialExists">
      <input message="tns:manualSerialExists" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/manualSerialExistsRequest"/>
      <output message="tns:manualSerialExistsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/manualSerialExistsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/manualSerialExists/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getPersonByTRN">
      <input message="tns:getPersonByTRN" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getPersonByTRNRequest"/>
      <output message="tns:getPersonByTRNResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getPersonByTRNResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getPersonByTRN/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getInitialCourtDateByCourtCaseId">
      <input message="tns:getInitialCourtDateByCourtCaseId" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getInitialCourtDateByCourtCaseIdRequest"/>
      <output message="tns:getInitialCourtDateByCourtCaseIdResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getInitialCourtDateByCourtCaseIdResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getInitialCourtDateByCourtCaseId/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getAssociatedWarningNotice">
      <input message="tns:getAssociatedWarningNotice" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getAssociatedWarningNoticeRequest"/>
      <output message="tns:getAssociatedWarningNoticeResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getAssociatedWarningNoticeResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getAssociatedWarningNotice/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="formatDocumentComment">
      <input message="tns:formatDocumentComment" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/formatDocumentCommentRequest"/>
      <output message="tns:formatDocumentCommentResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/formatDocumentCommentResponse"/>
    </operation>
    <operation name="formatOverrideDocumentComment">
      <input message="tns:formatOverrideDocumentComment" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/formatOverrideDocumentCommentRequest"/>
      <output message="tns:formatOverrideDocumentCommentResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/formatOverrideDocumentCommentResponse"/>
    </operation>
    <operation name="formatDenyOverrideDocumentComment">
      <input message="tns:formatDenyOverrideDocumentComment" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/formatDenyOverrideDocumentCommentRequest"/>
      <output message="tns:formatDenyOverrideDocumentCommentResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/formatDenyOverrideDocumentCommentResponse"/>
    </operation>
    <operation name="getDocumentByteList">
      <input message="tns:getDocumentByteList" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getDocumentByteListRequest"/>
      <output message="tns:getDocumentByteListResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/DocumentsManagerDelegate/getDocumentByteListResponse"/>
    </operation>
  </portType>
  <binding name="DocumentsManagerPortBinding" type="tns:DocumentsManagerDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="search">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="createWarningNotice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupWarningNotice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateWarningNotice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateWarningNoticeForm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="processScannedWarningNoticeDocuments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getWarningNoticeDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="createWarningNoProsecution">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupWarningNoProsecution">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateWarningNoProsecution">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateWarningNoProsecutionForm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="processScannedWarningNoProsecutionDocuments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getWarningNoProsecutionDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="createSummons">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupSummons">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateSummons">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="withdrawSummons">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateSummonsDischargeAndReleaseForm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="generateSummonsForm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="processScannedSummonsDocuments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSummonsDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="addJPDetailsFromRoadCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="addJPDetailsFromRoadCheckRest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveCourtAppearances">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveCourtAppearance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateCourtAppearances">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateCourtAppearance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateCourtCase">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="overrideCourtCaseDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="verifyAllDocuments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="denyVerificationAllDocuments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="serveAllDocumentsRest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="serveAllDocuments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="printAllDocumentsMobile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="printAllDocuments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelAllDocuments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="manualSerialExists">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPersonByTRN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInitialCourtDateByCourtCaseId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAssociatedWarningNotice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="formatDocumentComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="formatOverrideDocumentComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="formatDenyOverrideDocumentComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDocumentByteList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DocumentsManagerService">
    <port binding="tns:DocumentsManagerPortBinding" name="DocumentsManagerPort">
      <soap:address location="http://localhost:9081/ROMSWS/DocumentsManagerService"/>
    </port>
  </service>
</definitions>