WebContent/WEB-INF/wsdl/DocumentsManagerService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices.roms.toms.ta.fsl/" version="1.0" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:tns="http://webservices.roms.toms.ta.fsl/">

  <xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="DocumentsManagerService_schema2.xsd"/>

  <xs:element name="ErrorSavingException" type="tns:ErrorSavingException"/>

  <xs:element name="NoRecordFoundException" type="tns:NoRecordFoundException"/>

  <xs:element name="RequiredFieldMissingException" type="tns:RequiredFieldMissingException"/>

  <xs:element name="addJPDetailsFromRoadCheck" type="tns:addJPDetailsFromRoadCheck"/>

  <xs:element name="addJPDetailsFromRoadCheckResponse" type="tns:addJPDetailsFromRoadCheckResponse"/>

  <xs:element name="addJPDetailsFromRoadCheckRest" type="tns:addJPDetailsFromRoadCheckRest"/>

  <xs:element name="addJPDetailsFromRoadCheckRestResponse" type="tns:addJPDetailsFromRoadCheckRestResponse"/>

  <xs:element name="cancelAllDocuments" type="tns:cancelAllDocuments"/>

  <xs:element name="cancelAllDocumentsResponse" type="tns:cancelAllDocumentsResponse"/>

  <xs:element name="createSummons" type="tns:createSummons"/>

  <xs:element name="createSummonsResponse" type="tns:createSummonsResponse"/>

  <xs:element name="createWarningNoProsecution" type="tns:createWarningNoProsecution"/>

  <xs:element name="createWarningNoProsecutionResponse" type="tns:createWarningNoProsecutionResponse"/>

  <xs:element name="createWarningNotice" type="tns:createWarningNotice"/>

  <xs:element name="createWarningNoticeResponse" type="tns:createWarningNoticeResponse"/>

  <xs:element name="denyVerificationAllDocuments" type="tns:denyVerificationAllDocuments"/>

  <xs:element name="denyVerificationAllDocumentsResponse" type="tns:denyVerificationAllDocumentsResponse"/>

  <xs:element name="formatDenyOverrideDocumentComment" type="tns:formatDenyOverrideDocumentComment"/>

  <xs:element name="formatDenyOverrideDocumentCommentResponse" type="tns:formatDenyOverrideDocumentCommentResponse"/>

  <xs:element name="formatDocumentComment" type="tns:formatDocumentComment"/>

  <xs:element name="formatDocumentCommentResponse" type="tns:formatDocumentCommentResponse"/>

  <xs:element name="formatOverrideDocumentComment" type="tns:formatOverrideDocumentComment"/>

  <xs:element name="formatOverrideDocumentCommentResponse" type="tns:formatOverrideDocumentCommentResponse"/>

  <xs:element name="generateSummonsDischargeAndReleaseForm" type="tns:generateSummonsDischargeAndReleaseForm"/>

  <xs:element name="generateSummonsDischargeAndReleaseFormResponse" type="tns:generateSummonsDischargeAndReleaseFormResponse"/>

  <xs:element name="generateSummonsForm" type="tns:generateSummonsForm"/>

  <xs:element name="generateSummonsFormResponse" type="tns:generateSummonsFormResponse"/>

  <xs:element name="generateWarningNoProsecutionForm" type="tns:generateWarningNoProsecutionForm"/>

  <xs:element name="generateWarningNoProsecutionFormResponse" type="tns:generateWarningNoProsecutionFormResponse"/>

  <xs:element name="generateWarningNoticeForm" type="tns:generateWarningNoticeForm"/>

  <xs:element name="generateWarningNoticeFormResponse" type="tns:generateWarningNoticeFormResponse"/>

  <xs:element name="getAssociatedWarningNotice" type="tns:getAssociatedWarningNotice"/>

  <xs:element name="getAssociatedWarningNoticeResponse" type="tns:getAssociatedWarningNoticeResponse"/>

  <xs:element name="getDocumentByteList" type="tns:getDocumentByteList"/>

  <xs:element name="getDocumentByteListResponse" type="tns:getDocumentByteListResponse"/>

  <xs:element name="getInitialCourtDateByCourtCaseId" type="tns:getInitialCourtDateByCourtCaseId"/>

  <xs:element name="getInitialCourtDateByCourtCaseIdResponse" type="tns:getInitialCourtDateByCourtCaseIdResponse"/>

  <xs:element name="getPersonByTRN" type="tns:getPersonByTRN"/>

  <xs:element name="getPersonByTRNResponse" type="tns:getPersonByTRNResponse"/>

  <xs:element name="getSummonsDetails" type="tns:getSummonsDetails"/>

  <xs:element name="getSummonsDetailsResponse" type="tns:getSummonsDetailsResponse"/>

  <xs:element name="getWarningNoProsecutionDetails" type="tns:getWarningNoProsecutionDetails"/>

  <xs:element name="getWarningNoProsecutionDetailsResponse" type="tns:getWarningNoProsecutionDetailsResponse"/>

  <xs:element name="getWarningNoticeDetails" type="tns:getWarningNoticeDetails"/>

  <xs:element name="getWarningNoticeDetailsResponse" type="tns:getWarningNoticeDetailsResponse"/>

  <xs:element name="lookupSummons" type="tns:lookupSummons"/>

  <xs:element name="lookupSummonsResponse" type="tns:lookupSummonsResponse"/>

  <xs:element name="lookupWarningNoProsecution" type="tns:lookupWarningNoProsecution"/>

  <xs:element name="lookupWarningNoProsecutionResponse" type="tns:lookupWarningNoProsecutionResponse"/>

  <xs:element name="lookupWarningNotice" type="tns:lookupWarningNotice"/>

  <xs:element name="lookupWarningNoticeResponse" type="tns:lookupWarningNoticeResponse"/>

  <xs:element name="manualSerialExists" type="tns:manualSerialExists"/>

  <xs:element name="manualSerialExistsResponse" type="tns:manualSerialExistsResponse"/>

  <xs:element name="overrideCourtCaseDetails" type="tns:overrideCourtCaseDetails"/>

  <xs:element name="overrideCourtCaseDetailsResponse" type="tns:overrideCourtCaseDetailsResponse"/>

  <xs:element name="printAllDocuments" type="tns:printAllDocuments"/>

  <xs:element name="printAllDocumentsMobile" type="tns:printAllDocumentsMobile"/>

  <xs:element name="printAllDocumentsMobileResponse" type="tns:printAllDocumentsMobileResponse"/>

  <xs:element name="printAllDocumentsResponse" type="tns:printAllDocumentsResponse"/>

  <xs:element name="processScannedSummonsDocuments" type="tns:processScannedSummonsDocuments"/>

  <xs:element name="processScannedSummonsDocumentsResponse" type="tns:processScannedSummonsDocumentsResponse"/>

  <xs:element name="processScannedWarningNoProsecutionDocuments" type="tns:processScannedWarningNoProsecutionDocuments"/>

  <xs:element name="processScannedWarningNoProsecutionDocumentsResponse" type="tns:processScannedWarningNoProsecutionDocumentsResponse"/>

  <xs:element name="processScannedWarningNoticeDocuments" type="tns:processScannedWarningNoticeDocuments"/>

  <xs:element name="processScannedWarningNoticeDocumentsResponse" type="tns:processScannedWarningNoticeDocumentsResponse"/>

  <xs:element name="saveCourtAppearance" type="tns:saveCourtAppearance"/>

  <xs:element name="saveCourtAppearanceResponse" type="tns:saveCourtAppearanceResponse"/>

  <xs:element name="saveCourtAppearances" type="tns:saveCourtAppearances"/>

  <xs:element name="saveCourtAppearancesResponse" type="tns:saveCourtAppearancesResponse"/>

  <xs:element name="search" type="tns:search"/>

  <xs:element name="searchResponse" type="tns:searchResponse"/>

  <xs:element name="serveAllDocuments" type="tns:serveAllDocuments"/>

  <xs:element name="serveAllDocumentsResponse" type="tns:serveAllDocumentsResponse"/>

  <xs:element name="serveAllDocumentsRest" type="tns:serveAllDocumentsRest"/>

  <xs:element name="serveAllDocumentsRestResponse" type="tns:serveAllDocumentsRestResponse"/>

  <xs:element name="updateCourtAppearance" type="tns:updateCourtAppearance"/>

  <xs:element name="updateCourtAppearanceResponse" type="tns:updateCourtAppearanceResponse"/>

  <xs:element name="updateCourtAppearances" type="tns:updateCourtAppearances"/>

  <xs:element name="updateCourtAppearancesResponse" type="tns:updateCourtAppearancesResponse"/>

  <xs:element name="updateCourtCase" type="tns:updateCourtCase"/>

  <xs:element name="updateCourtCaseResponse" type="tns:updateCourtCaseResponse"/>

  <xs:element name="updateSummons" type="tns:updateSummons"/>

  <xs:element name="updateSummonsResponse" type="tns:updateSummonsResponse"/>

  <xs:element name="updateWarningNoProsecution" type="tns:updateWarningNoProsecution"/>

  <xs:element name="updateWarningNoProsecutionResponse" type="tns:updateWarningNoProsecutionResponse"/>

  <xs:element name="updateWarningNotice" type="tns:updateWarningNotice"/>

  <xs:element name="updateWarningNoticeResponse" type="tns:updateWarningNoticeResponse"/>

  <xs:element name="verifyAllDocuments" type="tns:verifyAllDocuments"/>

  <xs:element name="verifyAllDocumentsResponse" type="tns:verifyAllDocumentsResponse"/>

  <xs:element name="withdrawSummons" type="tns:withdrawSummons"/>

  <xs:element name="withdrawSummonsResponse" type="tns:withdrawSummonsResponse"/>

  <xs:complexType name="createSummons">
    <xs:sequence>
      <xs:element minOccurs="0" name="summons" type="tns:summonsBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="summonsBO">
    <xs:complexContent>
      <xs:extension base="tns:documentViewBO">
        <xs:sequence>
          <xs:element minOccurs="0" name="caseStatus" type="xs:string"/>
          <xs:element minOccurs="0" name="courtCase" type="tns:courtCaseBO"/>
          <xs:element minOccurs="0" name="dischargeWitness" type="tns:personBO"/>
          <xs:element minOccurs="0" name="excerpt" type="xs:string"/>
          <xs:element name="excerptParams">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="JPAuthorisationRequested" type="xs:boolean"/>
          <xs:element name="JPPinAuthorised" type="xs:boolean"/>
          <xs:element name="manualSummons" type="xs:boolean"/>
          <xs:element minOccurs="0" name="offenceExcerpt" type="xs:string"/>
          <xs:element minOccurs="0" name="overrideReason" type="xs:int"/>
          <xs:element name="overrideRequested" type="xs:boolean"/>
          <xs:element name="printDischargeFormRequested" type="xs:boolean"/>
          <xs:element minOccurs="0" name="servedAtAddress" type="xs:string"/>
          <xs:element minOccurs="0" name="servedAtAddressBO" type="tns:addressBO"/>
          <xs:element minOccurs="0" name="servedAtParish" type="xs:string"/>
          <xs:element name="summonsVerified" type="xs:boolean"/>
          <xs:element minOccurs="0" name="withdrawReason" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="documentViewBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="allowUpload" type="xs:string"/>
      <xs:element minOccurs="0" name="authorizeDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="authorizeUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="authorizedFlag" type="xs:string"/>
      <xs:element minOccurs="0" name="automaticSerialNo" type="xs:int"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element minOccurs="0" name="complianceID" type="xs:int"/>
      <xs:element minOccurs="0" name="courtCode" type="xs:int"/>
      <xs:element minOccurs="0" name="courtDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="courtName" type="xs:string"/>
      <xs:element minOccurs="0" name="courtTime" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element name="documentSelected" type="xs:boolean"/>
      <xs:element minOccurs="0" name="documentTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="documentTypeName" type="xs:string"/>
      <xs:element minOccurs="0" name="initialCourtDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="initialCourtId" type="xs:int"/>
      <xs:element minOccurs="0" name="initialCourtName" type="xs:string"/>
      <xs:element minOccurs="0" name="issueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="issueUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="jpFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="jpFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="jpIdNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="jpLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="jpParish" type="xs:string"/>
      <xs:element minOccurs="0" name="jpRegNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="lastUpdateUser" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listOfOffences" nillable="true" type="tns:offenceBO"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listOfVehicleOwners" nillable="true" type="tns:vehicleOwnerBO"/>
      <xs:element minOccurs="0" name="manualSerialNo" type="xs:string"/>
      <xs:element minOccurs="0" name="newComment" type="xs:string"/>
      <xs:element minOccurs="0" name="newStatusId" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceCode" type="xs:int"/>
      <xs:element minOccurs="0" name="offenceDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="offenceDtimeString" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceLocation" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceParishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderAddressWithNewLine" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderCellPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFullNameNTRN" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderHomePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderId" type="xs:int"/>
      <xs:element minOccurs="0" name="offenderLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderRoleObserved" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderTRN" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderWorkPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="operationName" type="xs:string"/>
      <xs:element minOccurs="0" name="origin" type="xs:string"/>
      <xs:element minOccurs="0" name="printCount" type="xs:int"/>
      <xs:element minOccurs="0" name="printDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="printUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="reasonCode" type="xs:int"/>
      <xs:element minOccurs="0" name="referenceNo" type="xs:string"/>
      <xs:element minOccurs="0" name="reprintComment" type="xs:string"/>
      <xs:element minOccurs="0" name="reprintDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="reprintReasonCode" type="xs:int"/>
      <xs:element minOccurs="0" name="reprintUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="roadCheckOffenceOutcomeCode" type="xs:int"/>
      <xs:element minOccurs="0" name="roadLicence" type="tns:roadLicenceBO"/>
      <xs:element minOccurs="0" name="roadOperationId" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="scannedDocList" nillable="true" type="tns:scannedDocBO"/>
      <xs:element minOccurs="0" name="servedByFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="servedByLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="servedByUserID" type="xs:string"/>
      <xs:element minOccurs="0" name="servedOnDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element name="supervisorAuthorisationRequested" type="xs:boolean"/>
      <xs:element minOccurs="0" name="taStaffFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffId" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicle" type="tns:vehicleBO"/>
      <xs:element minOccurs="0" name="verificationRequired" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="courtCaseBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="caseStatusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="caseStatusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="courtAppearances" nillable="true" type="tns:courtAppearanceBO"/>
      <xs:element minOccurs="0" name="courtCaseId" type="xs:int"/>
      <xs:element minOccurs="0" name="courtCaseNo" type="xs:string"/>
      <xs:element minOccurs="0" name="courtDetail" type="xs:string"/>
      <xs:element minOccurs="0" name="courtName" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUserName" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUserRegion" type="xs:string"/>
      <xs:element minOccurs="0" name="fineAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="finePaidFlag" type="xs:string"/>
      <xs:element minOccurs="0" name="newComments" type="xs:string"/>
      <xs:element minOccurs="0" name="nextAppearanceCourtDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="nextAppearanceCourtTime" type="xs:string"/>
      <xs:element minOccurs="0" name="sentencePeriodDay" type="xs:int"/>
      <xs:element minOccurs="0" name="sentencePeriodMonth" type="xs:int"/>
      <xs:element minOccurs="0" name="sentencePeriodYear" type="xs:int"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="summonsId" type="xs:int"/>
      <xs:element minOccurs="0" name="timeServedFlag" type="xs:string"/>
      <xs:element minOccurs="0" name="verdictCode" type="xs:int"/>
      <xs:element minOccurs="0" name="verdictDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="courtAppearanceBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element minOccurs="0" name="courtAppearanceId" type="xs:int"/>
      <xs:element minOccurs="0" name="courtCaseId" type="xs:int"/>
      <xs:element minOccurs="0" name="courtDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="courtId" type="xs:int"/>
      <xs:element minOccurs="0" name="courtName" type="xs:string"/>
      <xs:element minOccurs="0" name="courtRulingDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="courtRulingId" type="xs:string"/>
      <xs:element minOccurs="0" name="courtTime" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUserName" type="xs:string"/>
      <xs:element name="finalAppearance" type="xs:boolean"/>
      <xs:element minOccurs="0" name="inspectorAttended" type="xs:string"/>
      <xs:element minOccurs="0" name="pleaDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="pleaId" type="xs:int"/>
      <xs:element minOccurs="0" name="statusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="summonsId" type="xs:int"/>
      <xs:element minOccurs="0" name="verdictId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2NL" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUserName" type="xs:string"/>
      <xs:element minOccurs="0" name="dlNo" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="fullName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="middleName" type="xs:string"/>
      <xs:element minOccurs="0" name="occupation" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="parishDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="personId" type="xs:int"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneCell" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneHome" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneWork" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addressBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="parishDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="parish_code" type="xs:string"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="excerpt" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
      <xs:element minOccurs="0" name="roadCheckTypeDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="roadCheckTypeId" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="auditEntryBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="createDTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="updateDTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="updateUsername" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vehicleOwnerBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="tns:addressBO"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="midName" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerId" type="xs:int"/>
      <xs:element minOccurs="0" name="trnBranch" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleCheckResultID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roadLicenceBO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="assignedDriverConductor" nillable="true" type="tns:roadLicenceDriverConductorBO"/>
      <xs:element minOccurs="0" name="controlNo" type="xs:int"/>
      <xs:element minOccurs="0" name="depot" type="xs:string"/>
      <xs:element minOccurs="0" name="expiryDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fitnessExpDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fitnessIssueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fitnessNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="insuranceComp" type="xs:string"/>
      <xs:element minOccurs="0" name="insuranceExpDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="insuranceIssueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="issueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="licPlate" type="xs:string"/>
      <xs:element minOccurs="0" name="licType" type="xs:string"/>
      <xs:element minOccurs="0" name="licenceNo" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="licenceOwners" nillable="true" type="tns:roadLicenceOwnerBO"/>
      <xs:element minOccurs="0" name="lmisApplicationBO" type="tns:lmisApplicationBO"/>
      <xs:element minOccurs="0" name="modelDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="modelYear" type="xs:int"/>
      <xs:element minOccurs="0" name="routeDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="routeEnd" type="xs:string"/>
      <xs:element minOccurs="0" name="routeStart" type="xs:string"/>
      <xs:element minOccurs="0" name="seatCapacity" type="xs:int"/>
      <xs:element minOccurs="0" name="statusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="vehMakeDesc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roadLicenceDriverConductorBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="badgeNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="badgeType" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roadLicenceOwnerBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="homePhoneNo" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="licenceNo" type="xs:int"/>
      <xs:element minOccurs="0" name="mark" type="xs:string"/>
      <xs:element minOccurs="0" name="mobilePhoneNo" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerType" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="poBox" type="xs:string"/>
      <xs:element minOccurs="0" name="postOffice" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
      <xs:element minOccurs="0" name="trn" type="xs:string"/>
      <xs:element minOccurs="0" name="workPhoneNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lmisApplicationBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="applDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="applNo" type="xs:int"/>
      <xs:element minOccurs="0" name="licDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="licPlate" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDesc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scannedDocBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createdUser" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="docType" type="xs:string"/>
      <xs:element minOccurs="0" name="fileContents" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="manualSerialNo" type="xs:string"/>
      <xs:element minOccurs="0" name="mimeType" type="xs:string"/>
      <xs:element minOccurs="0" name="newReprintComment" type="xs:string"/>
      <xs:element minOccurs="0" name="printCount" type="xs:int"/>
      <xs:element minOccurs="0" name="printDTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="printUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="relativePath" type="xs:string"/>
      <xs:element minOccurs="0" name="reprintComment" type="xs:string"/>
      <xs:element minOccurs="0" name="reprintReasonCode" type="xs:int"/>
      <xs:element minOccurs="0" name="roadCheckOffence" type="xs:string"/>
      <xs:element minOccurs="0" name="roadCheckOffenceOutcomeId" type="xs:int"/>
      <xs:element minOccurs="0" name="scannedDocId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vehicleBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="chassisNo" type="xs:string"/>
      <xs:element minOccurs="0" name="colour" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUserName" type="xs:string"/>
      <xs:element minOccurs="0" name="engineNo" type="xs:string"/>
      <xs:element minOccurs="0" name="makeDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="model" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerName" type="xs:string"/>
      <xs:element minOccurs="0" name="plateRegNo" type="xs:string"/>
      <xs:element minOccurs="0" name="typeDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleId" type="xs:int"/>
      <xs:element minOccurs="0" name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createSummonsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:summonsBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ErrorSavingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequiredFieldMissingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addJPDetailsFromRoadCheck">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="summonsIds" type="xs:int"/>
      <xs:element minOccurs="0" name="jpIdNo" type="xs:int"/>
      <xs:element name="isHandHeld" type="xs:boolean"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addJPDetailsFromRoadCheckResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="NoRecordFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processScannedSummonsDocuments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="scannedDocList" type="tns:scannedDocBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processScannedSummonsDocumentsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:scannedDocBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelAllDocuments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" type="tns:documentViewBO"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
      <xs:element minOccurs="0" name="reasonForCancellation" type="xs:string"/>
      <xs:element minOccurs="0" name="cancellationComment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelAllDocumentsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="printAllDocumentsMobile">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" type="tns:documentViewBO"/>
      <xs:element minOccurs="0" name="reasonForReprint" type="xs:int"/>
      <xs:element minOccurs="0" name="reprintComment" type="xs:string"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
      <xs:element minOccurs="0" name="officeLocationDesc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="printAllDocumentsMobileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:documentBytesBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="documentBytesBO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="docBytes" nillable="true" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupWarningNotice">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteria" type="tns:documentsCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="documentsCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="automaticSerialNo" type="xs:int"/>
      <xs:element minOccurs="0" name="complianceId" type="xs:int"/>
      <xs:element minOccurs="0" name="documentStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="documentType" type="xs:string"/>
      <xs:element minOccurs="0" name="manualSerialNo" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceEndDateRange" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="offenceStartDateRange" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="offenderFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="operationEndDateRange" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="operationName" type="xs:string"/>
      <xs:element minOccurs="0" name="operationStartDateRange" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="referenceNo" type="xs:string"/>
      <xs:element minOccurs="0" name="servedByFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="servedByLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="servedByStaffId" type="xs:string"/>
      <xs:element minOccurs="0" name="servedEndDateRange" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="servedStartDateRange" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="staffFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="staffId" type="xs:string"/>
      <xs:element minOccurs="0" name="staffLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupWarningNoticeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:documentViewBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processScannedWarningNoticeDocuments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="scannedDocList" type="tns:scannedDocBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processScannedWarningNoticeDocumentsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="generateSummonsDischargeAndReleaseForm">
    <xs:sequence>
      <xs:element minOccurs="0" name="summons" type="tns:summonsBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generateSummonsDischargeAndReleaseFormResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:summonsDischargeAndReleaseFormView"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="summonsDischargeAndReleaseFormView">
    <xs:sequence>
      <xs:element minOccurs="0" name="licencePlate" type="xs:string"/>
      <xs:element minOccurs="0" name="manualSerialNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDay" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="offenceMonthWord" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceYearWord" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="reprinted" type="xs:string"/>
      <xs:element minOccurs="0" name="summonsId" type="xs:int"/>
      <xs:element minOccurs="0" name="witnessAddressString" type="xs:string"/>
      <xs:element minOccurs="0" name="witnessFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="witnessLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="witnessOccupation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getWarningNoProsecutionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="warningNoProsecutionId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getWarningNoProsecutionDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:warningNoProsecutionBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="warningNoProsecutionBO">
    <xs:complexContent>
      <xs:extension base="tns:documentViewBO">
        <xs:sequence>
          <xs:element minOccurs="0" name="allegation" type="xs:string"/>
          <xs:element minOccurs="0" name="isManualWarningNoProsecution" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="lookupSummons">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteria" type="tns:documentsCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupSummonsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:documentViewBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="verifyAllDocuments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" type="tns:documentViewBO"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="verifyAllDocumentsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateWarningNoProsecution">
    <xs:sequence>
      <xs:element minOccurs="0" name="warningNoProsecution" type="tns:warningNoProsecutionBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateWarningNoProsecutionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:warningNoProsecutionBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generateWarningNoticeForm">
    <xs:sequence>
      <xs:element minOccurs="0" name="warningNotice" type="tns:warningNoticeBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="warningNoticeBO">
    <xs:complexContent>
      <xs:extension base="tns:documentViewBO">
        <xs:sequence>
          <xs:element minOccurs="0" name="allegation" type="xs:string"/>
          <xs:element minOccurs="0" name="isManualWarningNotice" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="listOfWitnesses" nillable="true" type="tns:personBO"/>
          <xs:element minOccurs="0" name="poundAddressNL" type="xs:string"/>
          <xs:element minOccurs="0" name="poundBO" type="tns:poundBO"/>
          <xs:element minOccurs="0" name="poundId" type="xs:int"/>
          <xs:element minOccurs="0" name="seizureDtime" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="vehicleMoverBO" type="tns:personBO"/>
          <xs:element minOccurs="0" name="vehicleMoverPersonID" type="xs:int"/>
          <xs:element minOccurs="0" name="vehicleMoverPersonType" type="xs:string"/>
          <xs:element minOccurs="0" name="vehicleMoverPersonTypeDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="wreckerVehicleBO" type="tns:vehicleBO"/>
          <xs:element minOccurs="0" name="wreckerVehicleID" type="xs:int"/>
          <xs:element minOccurs="0" name="wreckingCompanyAddressNL" type="xs:string"/>
          <xs:element minOccurs="0" name="wreckingCompanyBO" type="tns:wreckingCompanyBO"/>
          <xs:element minOccurs="0" name="wreckingCompanyId" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="poundBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="numberOfLots" type="xs:int"/>
      <xs:element minOccurs="0" name="numberOfParkingSpaces" type="xs:int"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishName" type="xs:string"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="poundId" type="xs:int"/>
      <xs:element minOccurs="0" name="poundName" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneCell" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneHome" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneWork" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wreckingCompanyBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="companyName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPersonFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPersonLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPersonMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishName" type="xs:string"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneCell" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneHome" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneWork" type="xs:string"/>
      <xs:element minOccurs="0" name="trnBranch" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
      <xs:element minOccurs="0" name="wreckingCompanyId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generateWarningNoticeFormResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:noticeView"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="noticeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="allegations" type="xs:string"/>
      <xs:element minOccurs="0" name="automaticSerialNo" type="xs:int"/>
      <xs:element minOccurs="0" name="issueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="manualSerialNo" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDay" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDayWord" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="offenceExcerpt" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceLocation" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceMonth" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceParish" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceTime" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceYearWord" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderDriverLicenceNo" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderTRN" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="poundAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="poundName" type="xs:string"/>
      <xs:element minOccurs="0" name="referenceNo" type="xs:string"/>
      <xs:element minOccurs="0" name="reprinted" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffAssignedLocation" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffBadgeNo" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleChassisNo" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleColor" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleEngineNo" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleMake" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleModel" type="xs:string"/>
      <xs:element minOccurs="0" name="vehiclePlateNo" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleType" type="xs:string"/>
      <xs:element minOccurs="0" name="witnessAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="witnessFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="witnessFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="witnessLastName" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="witnessesDetails" nillable="true" type="ns1:stringArray"/>
      <xs:element minOccurs="0" name="wreckerPlateNo" type="xs:string"/>
      <xs:element minOccurs="0" name="wreckingCompanyName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCourtAppearances">
    <xs:sequence>
      <xs:element minOccurs="0" name="previousCourtAppearanceBO" type="tns:courtAppearanceBO"/>
      <xs:element minOccurs="0" name="courtAppearanceBO" type="tns:courtAppearanceBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCourtAppearancesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courtAppearanceBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generateSummonsForm">
    <xs:sequence>
      <xs:element minOccurs="0" name="summons" type="tns:summonsBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generateSummonsFormResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:summonsView"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="summonsView">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="courtDay" type="xs:string"/>
      <xs:element minOccurs="0" name="courtDayWord" type="xs:string"/>
      <xs:element minOccurs="0" name="courtLocation" type="xs:string"/>
      <xs:element minOccurs="0" name="courtMonth" type="xs:string"/>
      <xs:element minOccurs="0" name="courtName" type="xs:string"/>
      <xs:element minOccurs="0" name="courtTime" type="xs:string"/>
      <xs:element minOccurs="0" name="courtYear" type="xs:string"/>
      <xs:element minOccurs="0" name="excerpt" type="xs:string"/>
      <xs:element minOccurs="0" name="jpFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="jpLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="jpParish" type="xs:string"/>
      <xs:element minOccurs="0" name="manualSerialNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDay" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDayWord" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="offenceExcerpt" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceLocation" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceMonth" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceParish" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceTime" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceYear" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceYearWord" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderAddressParish" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderTRN" type="xs:string"/>
      <xs:element minOccurs="0" name="referenceNo" type="xs:string"/>
      <xs:element minOccurs="0" name="servedAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="servedDay" type="xs:string"/>
      <xs:element minOccurs="0" name="servedMonth" type="xs:string"/>
      <xs:element minOccurs="0" name="servedParish" type="xs:string"/>
      <xs:element minOccurs="0" name="servedTime" type="xs:string"/>
      <xs:element minOccurs="0" name="servedYear" type="xs:string"/>
      <xs:element minOccurs="0" name="summonsId" type="xs:int"/>
      <xs:element minOccurs="0" name="taStaffFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffLastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateWarningNotice">
    <xs:sequence>
      <xs:element minOccurs="0" name="warningNotice" type="tns:warningNoticeBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateWarningNoticeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:warningNoticeBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="printAllDocuments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" type="tns:documentViewBO"/>
      <xs:element minOccurs="0" name="reasonForReprint" type="xs:int"/>
      <xs:element minOccurs="0" name="reprintComment" type="xs:string"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="printAllDocumentsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:documentViewBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="denyVerificationAllDocuments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" type="tns:documentViewBO"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="denyVerificationAllDocumentsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getInitialCourtDateByCourtCaseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtCaseId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInitialCourtDateByCourtCaseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processScannedWarningNoProsecutionDocuments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="scannedDocList" type="tns:scannedDocBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processScannedWarningNoProsecutionDocumentsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="withdrawSummons">
    <xs:sequence>
      <xs:element minOccurs="0" name="summons" type="tns:summonsBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="withdrawSummonsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:summonsDischargeAndReleaseFormView"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCourtAppearances">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentCourtAppearance" type="tns:courtAppearanceBO"/>
      <xs:element minOccurs="0" name="newCourtAppearance" type="tns:courtAppearanceBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCourtAppearancesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courtAppearanceBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupWarningNoProsecution">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteria" type="tns:documentsCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupWarningNoProsecutionResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:documentViewBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateSummons">
    <xs:sequence>
      <xs:element minOccurs="0" name="summons" type="tns:summonsBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateSummonsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:summonsBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSummonsDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="automaticSerialNo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSummonsDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:summonsBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createWarningNoProsecution">
    <xs:sequence>
      <xs:element minOccurs="0" name="warningNoProsecution" type="tns:warningNoProsecutionBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createWarningNoProsecutionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDocumentByteList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documentList" type="tns:documentViewBO"/>
      <xs:element minOccurs="0" name="romsLoggedInUser" type="xs:string"/>
      <xs:element minOccurs="0" name="officeLocationDesc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDocumentByteListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:documentBytesBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="formatOverrideDocumentComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="newComment" type="xs:string"/>
      <xs:element minOccurs="0" name="oldComment" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="formatOverrideDocumentCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="manualSerialExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="manualSerialNo" type="xs:string"/>
      <xs:element minOccurs="0" name="autoSerialNo" type="xs:int"/>
      <xs:element minOccurs="0" name="documentType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="manualSerialExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCourtCase">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtCase" type="tns:courtCaseBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCourtCaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courtCaseBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="formatDocumentComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="newComment" type="xs:string"/>
      <xs:element minOccurs="0" name="oldComment" type="xs:string"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="formatDocumentCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serveAllDocumentsRest">
    <xs:sequence>
      <xs:element minOccurs="0" name="serveAllDocsRestBO" type="tns:serveAllDocsRestBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serveAllDocsRestBO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" nillable="true" type="tns:documentViewBO"/>
      <xs:element minOccurs="0" name="servedByTAUser" type="xs:string"/>
      <xs:element minOccurs="0" name="servedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="docAddress" type="tns:addressView"/>
      <xs:element minOccurs="0" name="servedAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addressView">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2NL" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="parish" type="xs:string"/>
      <xs:element minOccurs="0" name="parishDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serveAllDocumentsRestResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateCourtAppearance">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtAppearanceBO" type="tns:courtAppearanceBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCourtAppearanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courtAppearanceBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addJPDetailsFromRoadCheckRest">
    <xs:sequence>
      <xs:element minOccurs="0" name="summonsIds" type="xs:string"/>
      <xs:element minOccurs="0" name="jpIdNo" type="xs:int"/>
      <xs:element name="isHandHeld" type="xs:boolean"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addJPDetailsFromRoadCheckRestResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="saveCourtAppearance">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtAppearanceBO" type="tns:courtAppearanceBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCourtAppearanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courtAppearanceBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="formatDenyOverrideDocumentComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="newComment" type="xs:string"/>
      <xs:element minOccurs="0" name="oldComment" type="xs:string"/>
      <xs:element minOccurs="0" name="userName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="formatDenyOverrideDocumentCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getWarningNoticeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="warningNoticeId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getWarningNoticeDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:warningNoticeBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="overrideCourtCaseDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtCase" type="tns:courtCaseBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="overrideCourtCaseDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courtCaseBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPersonByTRN">
    <xs:sequence>
      <xs:element minOccurs="0" name="trn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPersonByTRNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generateWarningNoProsecutionForm">
    <xs:sequence>
      <xs:element minOccurs="0" name="warningNoProsecution" type="tns:warningNoProsecutionBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="generateWarningNoProsecutionFormResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:noticeView"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serveAllDocuments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documents" type="tns:documentViewBO"/>
      <xs:element minOccurs="0" name="servedByTAUser" type="xs:string"/>
      <xs:element minOccurs="0" name="servedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="docAddress" type="tns:addressView"/>
      <xs:element minOccurs="0" name="servedAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="updateUser" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serveAllDocumentsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="createWarningNotice">
    <xs:sequence>
      <xs:element minOccurs="0" name="warningNotice" type="tns:warningNoticeBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createWarningNoticeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="search">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteria" type="tns:documentsCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:documentViewBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAssociatedWarningNotice">
    <xs:sequence>
      <xs:element minOccurs="0" name="roadCheckOffenceOutcomeId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAssociatedWarningNoticeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>