WebContent/WEB-INF/wsdl/MaintenanceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices.roms.toms.ta.fsl/" version="1.0" xmlns:tns="http://webservices.roms.toms.ta.fsl/">

  <xs:element name="ErrorSavingException" type="tns:ErrorSavingException"/>

  <xs:element name="InvalidFieldException" type="tns:InvalidFieldException"/>

  <xs:element name="NoRecordFoundException" type="tns:NoRecordFoundException"/>

  <xs:element name="RequiredFieldMissingException" type="tns:RequiredFieldMissingException"/>

  <xs:element name="activeTAVehicleWithPlateRegNoExists" type="tns:activeTAVehicleWithPlateRegNoExists"/>

  <xs:element name="activeTAVehicleWithPlateRegNoExistsResponse" type="tns:activeTAVehicleWithPlateRegNoExistsResponse"/>

  <xs:element name="arteryExists" type="tns:arteryExists"/>

  <xs:element name="arteryExistsResponse" type="tns:arteryExistsResponse"/>

  <xs:element name="configurationExists" type="tns:configurationExists"/>

  <xs:element name="configurationExistsResponse" type="tns:configurationExistsResponse"/>

  <xs:element name="courtExists" type="tns:courtExists"/>

  <xs:element name="courtExistsResponse" type="tns:courtExistsResponse"/>

  <xs:element name="getJPListByRegion" type="tns:getJPListByRegion"/>

  <xs:element name="getJPListByRegionResponse" type="tns:getJPListByRegionResponse"/>

  <xs:element name="getOffenceLaws" type="tns:getOffenceLaws"/>

  <xs:element name="getOffenceLawsResponse" type="tns:getOffenceLawsResponse"/>

  <xs:element name="getOffenceParams" type="tns:getOffenceParams"/>

  <xs:element name="getOffenceParamsResponse" type="tns:getOffenceParamsResponse"/>

  <xs:element name="getStrategyRulesForStrategy" type="tns:getStrategyRulesForStrategy"/>

  <xs:element name="getStrategyRulesForStrategyResponse" type="tns:getStrategyRulesForStrategyResponse"/>

  <xs:element name="governingLawExists" type="tns:governingLawExists"/>

  <xs:element name="governingLawExistsResponse" type="tns:governingLawExistsResponse"/>

  <xs:element name="holidayExceptionExists" type="tns:holidayExceptionExists"/>

  <xs:element name="holidayExceptionExistsResponse" type="tns:holidayExceptionExistsResponse"/>

  <xs:element name="itaExaminerExistWithExaminerId" type="tns:itaExaminerExistWithExaminerId"/>

  <xs:element name="itaExaminerExistWithExaminerIdResponse" type="tns:itaExaminerExistWithExaminerIdResponse"/>

  <xs:element name="itaExaminerExistWithTRN" type="tns:itaExaminerExistWithTRN"/>

  <xs:element name="itaExaminerExistWithTRNResponse" type="tns:itaExaminerExistWithTRNResponse"/>

  <xs:element name="jpExistWithRegNumber" type="tns:jpExistWithRegNumber"/>

  <xs:element name="jpExistWithRegNumberResponse" type="tns:jpExistWithRegNumberResponse"/>

  <xs:element name="jpExistWithTRN" type="tns:jpExistWithTRN"/>

  <xs:element name="jpExistWithTRNResponse" type="tns:jpExistWithTRNResponse"/>

  <xs:element name="locationExists" type="tns:locationExists"/>

  <xs:element name="locationExistsResponse" type="tns:locationExistsResponse"/>

  <xs:element name="lookupArtery" type="tns:lookupArtery"/>

  <xs:element name="lookupArteryResponse" type="tns:lookupArteryResponse"/>

  <xs:element name="lookupConfiguration" type="tns:lookupConfiguration"/>

  <xs:element name="lookupConfigurationResponse" type="tns:lookupConfigurationResponse"/>

  <xs:element name="lookupCourt" type="tns:lookupCourt"/>

  <xs:element name="lookupCourtResponse" type="tns:lookupCourtResponse"/>

  <xs:element name="lookupGoverningLaw" type="tns:lookupGoverningLaw"/>

  <xs:element name="lookupGoverningLawResponse" type="tns:lookupGoverningLawResponse"/>

  <xs:element name="lookupHolidayExceptions" type="tns:lookupHolidayExceptions"/>

  <xs:element name="lookupHolidayExceptionsResponse" type="tns:lookupHolidayExceptionsResponse"/>

  <xs:element name="lookupITAExaminer" type="tns:lookupITAExaminer"/>

  <xs:element name="lookupITAExaminerResponse" type="tns:lookupITAExaminerResponse"/>

  <xs:element name="lookupJP" type="tns:lookupJP"/>

  <xs:element name="lookupJPResponse" type="tns:lookupJPResponse"/>

  <xs:element name="lookupLocation" type="tns:lookupLocation"/>

  <xs:element name="lookupLocationResponse" type="tns:lookupLocationResponse"/>

  <xs:element name="lookupOffence" type="tns:lookupOffence"/>

  <xs:element name="lookupOffenceResponse" type="tns:lookupOffenceResponse"/>

  <xs:element name="lookupParish" type="tns:lookupParish"/>

  <xs:element name="lookupParishResponse" type="tns:lookupParishResponse"/>

  <xs:element name="lookupPound" type="tns:lookupPound"/>

  <xs:element name="lookupPoundResponse" type="tns:lookupPoundResponse"/>

  <xs:element name="lookupReason" type="tns:lookupReason"/>

  <xs:element name="lookupReasonResponse" type="tns:lookupReasonResponse"/>

  <xs:element name="lookupStrategy" type="tns:lookupStrategy"/>

  <xs:element name="lookupStrategyResponse" type="tns:lookupStrategyResponse"/>

  <xs:element name="lookupTAVehicle" type="tns:lookupTAVehicle"/>

  <xs:element name="lookupTAVehicleResponse" type="tns:lookupTAVehicleResponse"/>

  <xs:element name="lookupWreckingCompany" type="tns:lookupWreckingCompany"/>

  <xs:element name="lookupWreckingCompanyResponse" type="tns:lookupWreckingCompanyResponse"/>

  <xs:element name="offenceDescriptionExist" type="tns:offenceDescriptionExist"/>

  <xs:element name="offenceDescriptionExistResponse" type="tns:offenceDescriptionExistResponse"/>

  <xs:element name="offenceExistWithID" type="tns:offenceExistWithID"/>

  <xs:element name="offenceExistWithIDResponse" type="tns:offenceExistWithIDResponse"/>

  <xs:element name="offenceShortDescriptionExist" type="tns:offenceShortDescriptionExist"/>

  <xs:element name="offenceShortDescriptionExistResponse" type="tns:offenceShortDescriptionExistResponse"/>

  <xs:element name="parishExists" type="tns:parishExists"/>

  <xs:element name="parishExistsResponse" type="tns:parishExistsResponse"/>

  <xs:element name="poundExists" type="tns:poundExists"/>

  <xs:element name="poundExistsResponse" type="tns:poundExistsResponse"/>

  <xs:element name="reasonDescExistForSelectedType" type="tns:reasonDescExistForSelectedType"/>

  <xs:element name="reasonDescExistForSelectedTypeResponse" type="tns:reasonDescExistForSelectedTypeResponse"/>

  <xs:element name="resetPin" type="tns:resetPin"/>

  <xs:element name="resetPinResponse" type="tns:resetPinResponse"/>

  <xs:element name="saveArtery" type="tns:saveArtery"/>

  <xs:element name="saveArteryResponse" type="tns:saveArteryResponse"/>

  <xs:element name="saveConfiguration" type="tns:saveConfiguration"/>

  <xs:element name="saveConfigurationResponse" type="tns:saveConfigurationResponse"/>

  <xs:element name="saveCourt" type="tns:saveCourt"/>

  <xs:element name="saveCourtResponse" type="tns:saveCourtResponse"/>

  <xs:element name="saveGoverningLaw" type="tns:saveGoverningLaw"/>

  <xs:element name="saveGoverningLawResponse" type="tns:saveGoverningLawResponse"/>

  <xs:element name="saveHolidayExeption" type="tns:saveHolidayExeption"/>

  <xs:element name="saveHolidayExeptionResponse" type="tns:saveHolidayExeptionResponse"/>

  <xs:element name="saveITAExaminer" type="tns:saveITAExaminer"/>

  <xs:element name="saveITAExaminerResponse" type="tns:saveITAExaminerResponse"/>

  <xs:element name="saveJP" type="tns:saveJP"/>

  <xs:element name="saveJPResponse" type="tns:saveJPResponse"/>

  <xs:element name="saveLocation" type="tns:saveLocation"/>

  <xs:element name="saveLocationResponse" type="tns:saveLocationResponse"/>

  <xs:element name="saveOffence" type="tns:saveOffence"/>

  <xs:element name="saveOffenceResponse" type="tns:saveOffenceResponse"/>

  <xs:element name="savePound" type="tns:savePound"/>

  <xs:element name="savePoundResponse" type="tns:savePoundResponse"/>

  <xs:element name="saveReason" type="tns:saveReason"/>

  <xs:element name="saveReasonResponse" type="tns:saveReasonResponse"/>

  <xs:element name="saveStrategy" type="tns:saveStrategy"/>

  <xs:element name="saveStrategyResponse" type="tns:saveStrategyResponse"/>

  <xs:element name="saveTAVehicle" type="tns:saveTAVehicle"/>

  <xs:element name="saveTAVehicleResponse" type="tns:saveTAVehicleResponse"/>

  <xs:element name="saveWreckingCompany" type="tns:saveWreckingCompany"/>

  <xs:element name="saveWreckingCompanyResponse" type="tns:saveWreckingCompanyResponse"/>

  <xs:element name="strategyDescriptionExist" type="tns:strategyDescriptionExist"/>

  <xs:element name="strategyDescriptionExistResponse" type="tns:strategyDescriptionExistResponse"/>

  <xs:element name="taVehicleExistWithVehicleId" type="tns:taVehicleExistWithVehicleId"/>

  <xs:element name="taVehicleExistWithVehicleIdResponse" type="tns:taVehicleExistWithVehicleIdResponse"/>

  <xs:element name="taVehiclePlateRegNoExists" type="tns:taVehiclePlateRegNoExists"/>

  <xs:element name="taVehiclePlateRegNoExistsResponse" type="tns:taVehiclePlateRegNoExistsResponse"/>

  <xs:element name="updateArtery" type="tns:updateArtery"/>

  <xs:element name="updateArteryResponse" type="tns:updateArteryResponse"/>

  <xs:element name="updateConfiguration" type="tns:updateConfiguration"/>

  <xs:element name="updateConfigurationResponse" type="tns:updateConfigurationResponse"/>

  <xs:element name="updateCourt" type="tns:updateCourt"/>

  <xs:element name="updateCourtResponse" type="tns:updateCourtResponse"/>

  <xs:element name="updateGoverningLaw" type="tns:updateGoverningLaw"/>

  <xs:element name="updateGoverningLawResponse" type="tns:updateGoverningLawResponse"/>

  <xs:element name="updateHolidayException" type="tns:updateHolidayException"/>

  <xs:element name="updateHolidayExceptionResponse" type="tns:updateHolidayExceptionResponse"/>

  <xs:element name="updateITAExaminer" type="tns:updateITAExaminer"/>

  <xs:element name="updateITAExaminerResponse" type="tns:updateITAExaminerResponse"/>

  <xs:element name="updateJP" type="tns:updateJP"/>

  <xs:element name="updateJPResponse" type="tns:updateJPResponse"/>

  <xs:element name="updateLocation" type="tns:updateLocation"/>

  <xs:element name="updateLocationResponse" type="tns:updateLocationResponse"/>

  <xs:element name="updateOffence" type="tns:updateOffence"/>

  <xs:element name="updateOffenceResponse" type="tns:updateOffenceResponse"/>

  <xs:element name="updateParish" type="tns:updateParish"/>

  <xs:element name="updateParishResponse" type="tns:updateParishResponse"/>

  <xs:element name="updatePound" type="tns:updatePound"/>

  <xs:element name="updatePoundResponse" type="tns:updatePoundResponse"/>

  <xs:element name="updateReason" type="tns:updateReason"/>

  <xs:element name="updateReasonResponse" type="tns:updateReasonResponse"/>

  <xs:element name="updateStrategy" type="tns:updateStrategy"/>

  <xs:element name="updateStrategyResponse" type="tns:updateStrategyResponse"/>

  <xs:element name="updateTAVehicle" type="tns:updateTAVehicle"/>

  <xs:element name="updateTAVehicleResponse" type="tns:updateTAVehicleResponse"/>

  <xs:element name="updateWreckingCompany" type="tns:updateWreckingCompany"/>

  <xs:element name="updateWreckingCompanyResponse" type="tns:updateWreckingCompanyResponse"/>

  <xs:element name="usernameToFullName" type="tns:usernameToFullName"/>

  <xs:element name="usernameToFullNameResponse" type="tns:usernameToFullNameResponse"/>

  <xs:element name="wreckerCoTRNAndBranchExists" type="tns:wreckerCoTRNAndBranchExists"/>

  <xs:element name="wreckerCoTRNAndBranchExistsResponse" type="tns:wreckerCoTRNAndBranchExistsResponse"/>

  <xs:element name="wreckingCompanyExists" type="tns:wreckingCompanyExists"/>

  <xs:element name="wreckingCompanyExistsResponse" type="tns:wreckingCompanyExistsResponse"/>

  <xs:complexType name="lookupStrategy">
    <xs:sequence>
      <xs:element minOccurs="0" name="strategyCriteriaBO" type="tns:strategyCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="strategyCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="strategyDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="strategyId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupStrategyResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:strategyBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="strategyBO">
    <xs:sequence>
      <xs:element name="arteryRequired" type="xs:boolean"/>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="strategyDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="strategyId" type="xs:int"/>
      <xs:element name="vehicleRequired" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="auditEntryBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="createDTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="updateDTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="updateUsername" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequiredFieldMissingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NoRecordFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupITAExaminer">
    <xs:sequence>
      <xs:element minOccurs="0" name="itaExaminerCriteriaBO" type="tns:itaExaminerCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itaExaminerCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="examinerId" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="idNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="middleName" type="xs:string"/>
      <xs:element minOccurs="0" name="officeLocationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupITAExaminerResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:itaExaminerBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itaExaminerBO">
    <xs:complexContent>
      <xs:extension base="tns:attendanceDetailsBO">
        <xs:sequence>
          <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
          <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
          <xs:element minOccurs="0" name="examinerId" type="xs:string"/>
          <xs:element minOccurs="0" name="idNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="officeLocationCode" type="xs:string"/>
          <xs:element minOccurs="0" name="personBO" type="tns:personBO"/>
          <xs:element name="scheduled" type="xs:boolean"/>
          <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="statusId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="attendanceDetailsBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="attended" type="xs:boolean"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2NL" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUserName" type="xs:string"/>
      <xs:element minOccurs="0" name="dlNo" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="fullName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="middleName" type="xs:string"/>
      <xs:element minOccurs="0" name="occupation" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="parishDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="personId" type="xs:int"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneCell" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneHome" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneWork" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCourt">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtBO" type="tns:courtBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="courtBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="courtId" type="xs:int"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishName" type="xs:string"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCourtResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ErrorSavingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvalidFieldException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePound">
    <xs:sequence>
      <xs:element minOccurs="0" name="poundBO" type="tns:poundBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="poundBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="numberOfLots" type="xs:int"/>
      <xs:element minOccurs="0" name="numberOfParkingSpaces" type="xs:int"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishName" type="xs:string"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="poundId" type="xs:int"/>
      <xs:element minOccurs="0" name="poundName" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneCell" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneHome" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneWork" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePoundResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="poundExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="poundId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="poundExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateWreckingCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="wreckingCompanyBO" type="tns:wreckingCompanyBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wreckingCompanyBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="companyName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPersonFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPersonLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPersonMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishName" type="xs:string"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneCell" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneHome" type="xs:string"/>
      <xs:element minOccurs="0" name="telephoneWork" type="xs:string"/>
      <xs:element minOccurs="0" name="trnBranch" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
      <xs:element minOccurs="0" name="wreckingCompanyId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateWreckingCompanyResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="jpExistWithRegNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="regNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jpExistWithRegNumberResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveArtery">
    <xs:sequence>
      <xs:element minOccurs="0" name="arteryBO" type="tns:arteryBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="arteryBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="arteryDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="arteryId" type="xs:int"/>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="createdtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createusername" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="distance" type="xs:float"/>
      <xs:element minOccurs="0" name="endlatitude" type="xs:float"/>
      <xs:element minOccurs="0" name="endlongitude" type="xs:float"/>
      <xs:element minOccurs="0" name="locationDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="locationId" type="xs:int"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="points" type="xs:string"/>
      <xs:element name="selected" type="xs:boolean"/>
      <xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="startlatitude" type="xs:float"/>
      <xs:element minOccurs="0" name="startlongitude" type="xs:float"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveArteryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itaExaminerExistWithExaminerId">
    <xs:sequence>
      <xs:element minOccurs="0" name="examinerIdNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itaExaminerExistWithExaminerIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveJP">
    <xs:sequence>
      <xs:element minOccurs="0" name="jpBO" type="tns:jpbo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jpbo">
    <xs:complexContent>
      <xs:extension base="tns:attendanceDetailsBO">
        <xs:sequence>
          <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
          <xs:element minOccurs="0" name="confirmedPin" type="xs:string"/>
          <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
          <xs:element minOccurs="0" name="idNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="newPin" type="xs:string"/>
          <xs:element minOccurs="0" name="oldPin" type="xs:string"/>
          <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
          <xs:element minOccurs="0" name="parishDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="personBO" type="tns:personBO"/>
          <xs:element minOccurs="0" name="pinHash" type="xs:string"/>
          <xs:element minOccurs="0" name="regNumber" type="xs:string"/>
          <xs:element name="scheduled" type="xs:boolean"/>
          <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="statusId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="saveJPResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="lookupConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteriaBO" type="tns:configurationCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="configurationCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cfgCode" type="xs:string"/>
      <xs:element minOccurs="0" name="dataType" type="xs:unsignedShort"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="selectable" type="xs:unsignedShort"/>
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupConfigurationResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:configurationBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="configurationBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="cfgCode" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="dataType" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="editable" type="xs:boolean"/>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="isEditableString" type="xs:string"/>
      <xs:element minOccurs="0" name="isVisibleString" type="xs:string"/>
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element name="visible" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateGoverningLaw">
    <xs:sequence>
      <xs:element minOccurs="0" name="governingLawBO" type="tns:governingLawBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="governingLawBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="lawId" type="xs:int"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateGoverningLawResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="offenceExistWithID">
    <xs:sequence>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceExistWithIDResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationBO" type="tns:locationBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="locationBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="locationDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="locationId" type="xs:int"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishDescription" type="xs:string"/>
      <xs:element name="selected" type="xs:boolean"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateLocationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="itaExaminerExistWithTRN">
    <xs:sequence>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itaExaminerExistWithTRNResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveStrategy">
    <xs:sequence>
      <xs:element minOccurs="0" name="strategyBO" type="tns:strategyBO"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="strategyRuleList" type="tns:strategyRuleBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="strategyRuleBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="maximum" type="xs:int"/>
      <xs:element minOccurs="0" name="minimum" type="xs:int"/>
      <xs:element minOccurs="0" name="personTypeDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="personTypeId" type="xs:string"/>
      <xs:element minOccurs="0" name="strategyId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveStrategyResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="holidayExceptionExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="holidayDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="holidayExceptionExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="configurationBO" type="tns:configurationBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateConfigurationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="saveITAExaminer">
    <xs:sequence>
      <xs:element minOccurs="0" name="itaExaminerBO" type="tns:itaExaminerBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveITAExaminerResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getOffenceParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOffenceParamsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:offenceParamBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceParamBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
      <xs:element minOccurs="0" name="paramMapId" type="xs:int"/>
      <xs:element minOccurs="0" name="paramName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getJPListByRegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="region" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getJPListByRegionResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:jpbo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveReason">
    <xs:sequence>
      <xs:element minOccurs="0" name="reasonBO" type="tns:reasonBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reasonBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="isVisible" type="xs:string"/>
      <xs:element minOccurs="0" name="reasonDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="reasonId" type="xs:int"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="typeDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveReasonResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="saveTAVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="taVehicleBO" type="tns:taVehicleBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taVehicleBO">
    <xs:complexContent>
      <xs:extension base="tns:attendanceDetailsBO">
        <xs:sequence>
          <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
          <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
          <xs:element minOccurs="0" name="officeLocationCode" type="xs:string"/>
          <xs:element name="scheduled" type="xs:boolean"/>
          <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="statusId" type="xs:string"/>
          <xs:element minOccurs="0" name="taVehicleId" type="xs:int"/>
          <xs:element minOccurs="0" name="vehicle" type="tns:vehicleBO"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="vehicleBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="chassisNo" type="xs:string"/>
      <xs:element minOccurs="0" name="colour" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUserName" type="xs:string"/>
      <xs:element minOccurs="0" name="engineNo" type="xs:string"/>
      <xs:element minOccurs="0" name="makeDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="model" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerName" type="xs:string"/>
      <xs:element minOccurs="0" name="plateRegNo" type="xs:string"/>
      <xs:element minOccurs="0" name="typeDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleId" type="xs:int"/>
      <xs:element minOccurs="0" name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveTAVehicleResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="lookupHolidayExceptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteriaBO" type="tns:holidayExceptionsCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="holidayExceptionsCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="holidayDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupHolidayExceptionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:holidayExceptionBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="holidayExceptionBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="allow" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="holidayDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceDescriptionExist">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceDescriptionExistResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOffenceLaws">
    <xs:sequence>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOffenceLawsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:offenceLawBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceLawBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="lawId" type="xs:int"/>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupCourt">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteriaBO" type="tns:courtCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="courtCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtId" type="xs:int"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="parishName" type="xs:string"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupCourtResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:courtBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateOffence">
    <xs:sequence>
      <xs:element minOccurs="0" name="offenceBO" type="tns:offenceBO"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="offenceParamList" type="tns:offenceParamBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="excerpt" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
      <xs:element minOccurs="0" name="roadCheckTypeDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="roadCheckTypeId" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateOffenceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="lookupPound">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteriaBO" type="tns:poundCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="poundCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="numberOfLots" type="xs:int"/>
      <xs:element minOccurs="0" name="numberOfParkingSpaces" type="xs:int"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="poundId" type="xs:int"/>
      <xs:element minOccurs="0" name="poundName" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupPoundResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:poundBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupWreckingCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="wcCriteriaBO" type="tns:wreckingCompanyCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wreckingCompanyCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPersonFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPersonLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPersonMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="trnBranch" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
      <xs:element minOccurs="0" name="wreckingCompanyId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupWreckingCompanyResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:wreckingCompanyBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupGoverningLaw">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteriaBO" type="tns:governingLawCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="governingLawCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="lawId" type="xs:int"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupGoverningLawResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:governingLawBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateJP">
    <xs:sequence>
      <xs:element minOccurs="0" name="jpBO" type="tns:jpbo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateJPResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="lookupLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteriaBO" type="tns:locationCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="locationCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="locationId" type="xs:int"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupLocationResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:locationBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wreckingCompanyExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="wreckingCompanyId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wreckingCompanyExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="usernameToFullName">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="usernameToFullNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupTAVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="taVehicleCriteriaBO" type="tns:taVehicleCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taVehicleCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="officeLocationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="taVehicleId" type="xs:int"/>
      <xs:element minOccurs="0" name="vehicle" type="tns:vehicleBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupTAVehicleResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:taVehicleBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetPin">
    <xs:sequence>
      <xs:element minOccurs="0" name="jpBO" type="tns:jpbo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resetPinResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="courtExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="courtExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupJP">
    <xs:sequence>
      <xs:element minOccurs="0" name="jpCriteriaBO" type="tns:jpCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jpCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="middleName" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="regNumber" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="regionCodes" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupJPResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:jpbo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateHolidayException">
    <xs:sequence>
      <xs:element minOccurs="0" name="holidayExceptionBO" type="tns:holidayExceptionBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateHolidayExceptionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateCourt">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtBO" type="tns:courtBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCourtResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updatePound">
    <xs:sequence>
      <xs:element minOccurs="0" name="poundBO" type="tns:poundBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updatePoundResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="lookupArtery">
    <xs:sequence>
      <xs:element minOccurs="0" name="arteryCriteriaBO" type="tns:arteryCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="arteryCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="arteryDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="arteryId" type="xs:int"/>
      <xs:element minOccurs="0" name="distance" type="xs:float"/>
      <xs:element minOccurs="0" name="endlatitude" type="xs:float"/>
      <xs:element minOccurs="0" name="endlongitude" type="xs:float"/>
      <xs:element minOccurs="0" name="locationId" type="xs:int"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="points" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="startlatitude" type="xs:float"/>
      <xs:element minOccurs="0" name="startlongitude" type="xs:float"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupArteryResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:arteryBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateStrategy">
    <xs:sequence>
      <xs:element minOccurs="0" name="strategyBO" type="tns:strategyBO"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="strategyRuleList" type="tns:strategyRuleBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateStrategyResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="offenceShortDescriptionExist">
    <xs:sequence>
      <xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceShortDescriptionExistResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupReason">
    <xs:sequence>
      <xs:element minOccurs="0" name="reasonCriteriaBO" type="tns:reasonCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reasonCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="reasonDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="reasonId" type="xs:int"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupReasonResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:reasonBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateITAExaminer">
    <xs:sequence>
      <xs:element minOccurs="0" name="itaExaminerBO" type="tns:itaExaminerBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateITAExaminerResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="taVehiclePlateRegNoExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="plateRegNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taVehiclePlateRegNoExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateTAVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="taVehicleBO" type="tns:taVehicleBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateTAVehicleResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="lookupParish">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteriaBO" type="tns:parishCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parishCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="officeLocationCode" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupParishResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:parishBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parishBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="officeLocationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="officeLocationDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element name="selected" type="xs:boolean"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveGoverningLaw">
    <xs:sequence>
      <xs:element minOccurs="0" name="governingLawBO" type="tns:governingLawBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveGoverningLawResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveWreckingCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="wreckingCompanyBO" type="tns:wreckingCompanyBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveWreckingCompanyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateArtery">
    <xs:sequence>
      <xs:element minOccurs="0" name="arteryBO" type="tns:arteryBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateArteryResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="saveLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationBO" type="tns:locationBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveLocationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveHolidayExeption">
    <xs:sequence>
      <xs:element minOccurs="0" name="holidayExceptionBO" type="tns:holidayExceptionBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveHolidayExeptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateReason">
    <xs:sequence>
      <xs:element minOccurs="0" name="reasonBO" type="tns:reasonBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateReasonResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getStrategyRulesForStrategy">
    <xs:sequence>
      <xs:element minOccurs="0" name="strategyId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getStrategyRulesForStrategyResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:strategyRuleBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="strategyDescriptionExist">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="strategyId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="strategyDescriptionExistResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="governingLawExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="governingLawId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="governingLawExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taVehicleExistWithVehicleId">
    <xs:sequence>
      <xs:element minOccurs="0" name="vehicleBO" type="tns:vehicleBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taVehicleExistWithVehicleIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="arteryExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="arteryId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="arteryExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateParish">
    <xs:sequence>
      <xs:element minOccurs="0" name="parishBO" type="tns:parishBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateParishResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="lookupOffence">
    <xs:sequence>
      <xs:element minOccurs="0" name="offenceCriteriaBO" type="tns:offenceCriteriaBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceCriteriaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="offenceDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
      <xs:element minOccurs="0" name="roadCheckTypeId" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lookupOffenceResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:offenceBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reasonDescExistForSelectedType">
    <xs:sequence>
      <xs:element minOccurs="0" name="reasonBO" type="tns:reasonBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reasonDescExistForSelectedTypeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveOffence">
    <xs:sequence>
      <xs:element minOccurs="0" name="offenceBO" type="tns:offenceBO"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="offenceParamList" type="tns:offenceParamBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveOffenceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="saveConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="configurationBO" type="tns:configurationBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveConfigurationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jpExistWithTRN">
    <xs:sequence>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jpExistWithTRNResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parishExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="parishId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parishExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activeTAVehicleWithPlateRegNoExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="plateRegNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activeTAVehicleWithPlateRegNoExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wreckerCoTRNAndBranchExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="wreckingCompanyBO" type="tns:wreckingCompanyBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wreckerCoTRNAndBranchExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="locationExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="locationId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="locationExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="configurationExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="configurationId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="configurationExistsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>