WebContent/WEB-INF/wsdl/ReferenceCodeService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/25/2013 11:48 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ReferenceCodeService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="ReferenceCodeService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getReferenceCode">
    <part element="tns:getReferenceCode" name="parameters"/>
  </message>
  <message name="getReferenceCodeResponse">
    <part element="tns:getReferenceCodeResponse" name="parameters"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="NoRecordFoundException">
    <part element="tns:NoRecordFoundException" name="fault"/>
  </message>
  <message name="InvalidFieldException">
    <part element="tns:InvalidFieldException" name="fault"/>
  </message>
  <portType name="ReferenceCodeDelegate">
    <operation name="getReferenceCode">
      <input message="tns:getReferenceCode" wsam:Action="http://webservices.roms.toms.ta.fsl/ReferenceCodeDelegate/getReferenceCodeRequest"/>
      <output message="tns:getReferenceCodeResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReferenceCodeDelegate/getReferenceCodeResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReferenceCodeDelegate/getReferenceCode/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReferenceCodeDelegate/getReferenceCode/Fault/NoRecordFoundException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReferenceCodeDelegate/getReferenceCode/Fault/InvalidFieldException"/>
    </operation>
  </portType>
  <binding name="ReferenceCodePortBinding" type="tns:ReferenceCodeDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getReferenceCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ReferenceCodeService">
    <port binding="tns:ReferenceCodePortBinding" name="ReferenceCodePort">
      <soap:address location="http://localhost:9082/ROMSWS/ReferenceCodeService"/>
    </port>
  </service>
</definitions>