WebContent/WEB-INF/wsdl/ReportService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/25/2013 11:48 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ReportService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="ReportService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="vehicleSeizedReport">
    <part element="tns:vehicleSeizedReport" name="parameters"/>
  </message>
  <message name="vehicleSeizedReportResponse">
    <part element="tns:vehicleSeizedReportResponse" name="parameters"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="NoRecordFoundException">
    <part element="tns:NoRecordFoundException" name="fault"/>
  </message>
  <message name="operationSummaryReport">
    <part element="tns:operationSummaryReport" name="parameters"/>
  </message>
  <message name="operationSummaryReportResponse">
    <part element="tns:operationSummaryReportResponse" name="parameters"/>
  </message>
  <message name="summonsesNotYetServed">
    <part element="tns:summonsesNotYetServed" name="parameters"/>
  </message>
  <message name="summonsesNotYetServedResponse">
    <part element="tns:summonsesNotYetServedResponse" name="parameters"/>
  </message>
  <message name="summonsReport">
    <part element="tns:summonsReport" name="parameters"/>
  </message>
  <message name="summonsReportResponse">
    <part element="tns:summonsReportResponse" name="parameters"/>
  </message>
  <message name="courtScheduleReport">
    <part element="tns:courtScheduleReport" name="parameters"/>
  </message>
  <message name="courtScheduleReportResponse">
    <part element="tns:courtScheduleReportResponse" name="parameters"/>
  </message>
  <message name="performanceStatisticsReport">
    <part element="tns:performanceStatisticsReport" name="parameters"/>
  </message>
  <message name="performanceStatisticsReportResponse">
    <part element="tns:performanceStatisticsReportResponse" name="parameters"/>
  </message>
  <message name="eventAuditReport">
    <part element="tns:eventAuditReport" name="parameters"/>
  </message>
  <message name="eventAuditReportResponse">
    <part element="tns:eventAuditReportResponse" name="parameters"/>
  </message>
  <message name="courtCasesNotClosed">
    <part element="tns:courtCasesNotClosed" name="parameters"/>
  </message>
  <message name="courtCasesNotClosedResponse">
    <part element="tns:courtCasesNotClosedResponse" name="parameters"/>
  </message>
  <message name="warningNoticeNoProsecution">
    <part element="tns:warningNoticeNoProsecution" name="parameters"/>
  </message>
  <message name="warningNoticeNoProsecutionResponse">
    <part element="tns:warningNoticeNoProsecutionResponse" name="parameters"/>
  </message>
  <portType name="ReportDelegate">
    <operation name="vehicleSeizedReport">
      <input message="tns:vehicleSeizedReport" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/vehicleSeizedReportRequest"/>
      <output message="tns:vehicleSeizedReportResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/vehicleSeizedReportResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/vehicleSeizedReport/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/vehicleSeizedReport/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="operationSummaryReport">
      <input message="tns:operationSummaryReport" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/operationSummaryReportRequest"/>
      <output message="tns:operationSummaryReportResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/operationSummaryReportResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/operationSummaryReport/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/operationSummaryReport/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="summonsesNotYetServed">
      <input message="tns:summonsesNotYetServed" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/summonsesNotYetServedRequest"/>
      <output message="tns:summonsesNotYetServedResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/summonsesNotYetServedResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/summonsesNotYetServed/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/summonsesNotYetServed/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="summonsReport">
      <input message="tns:summonsReport" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/summonsReportRequest"/>
      <output message="tns:summonsReportResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/summonsReportResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/summonsReport/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/summonsReport/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="courtScheduleReport">
      <input message="tns:courtScheduleReport" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/courtScheduleReportRequest"/>
      <output message="tns:courtScheduleReportResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/courtScheduleReportResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/courtScheduleReport/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/courtScheduleReport/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="performanceStatisticsReport">
      <input message="tns:performanceStatisticsReport" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/performanceStatisticsReportRequest"/>
      <output message="tns:performanceStatisticsReportResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/performanceStatisticsReportResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/performanceStatisticsReport/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/performanceStatisticsReport/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="eventAuditReport">
      <input message="tns:eventAuditReport" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/eventAuditReportRequest"/>
      <output message="tns:eventAuditReportResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/eventAuditReportResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/eventAuditReport/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/eventAuditReport/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="courtCasesNotClosed">
      <input message="tns:courtCasesNotClosed" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/courtCasesNotClosedRequest"/>
      <output message="tns:courtCasesNotClosedResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/courtCasesNotClosedResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/courtCasesNotClosed/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/courtCasesNotClosed/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="warningNoticeNoProsecution">
      <input message="tns:warningNoticeNoProsecution" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/warningNoticeNoProsecutionRequest"/>
      <output message="tns:warningNoticeNoProsecutionResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/warningNoticeNoProsecutionResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/warningNoticeNoProsecution/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/ReportDelegate/warningNoticeNoProsecution/Fault/NoRecordFoundException"/>
    </operation>
  </portType>
  <binding name="ReportPortBinding" type="tns:ReportDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="vehicleSeizedReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="operationSummaryReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="summonsesNotYetServed">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="summonsReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="courtScheduleReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="performanceStatisticsReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="eventAuditReport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="courtCasesNotClosed">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="warningNoticeNoProsecution">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ReportService">
    <port binding="tns:ReportPortBinding" name="ReportPort">
      <soap:address location="http://localhost:9086/ROMSWS/ReportService"/>
    </port>
  </service>
</definitions>