WebContent/WEB-INF/wsdl/RoadCompliancyService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:53 PM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="RoadCompliancyService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="RoadCompliancyService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://object.ticket.ws.fsl.org" schemaLocation="RoadCompliancyService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://object.dl.ws.fsl.org" schemaLocation="RoadCompliancyService_schema3.xsd"/>
    </xsd:schema>
  </types>
  <message name="checkValidROMSWSUrl">
    <part element="tns:checkValidROMSWSUrl" name="parameters"/>
  </message>
  <message name="checkValidROMSWSUrlResponse">
    <part element="tns:checkValidROMSWSUrlResponse" name="parameters"/>
  </message>
  <message name="saveCompliance">
    <part element="tns:saveCompliance" name="parameters"/>
  </message>
  <message name="saveComplianceResponse">
    <part element="tns:saveComplianceResponse" name="parameters"/>
  </message>
  <message name="ErrorSavingException">
    <part element="tns:ErrorSavingException" name="fault"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="getCitationOffence">
    <part element="tns:getCitationOffence" name="parameters"/>
  </message>
  <message name="getCitationOffenceResponse">
    <part element="tns:getCitationOffenceResponse" name="parameters"/>
  </message>
  <message name="InvalidFieldException">
    <part element="tns:InvalidFieldException" name="fault"/>
  </message>
  <message name="NoRecordFoundException">
    <part element="tns:NoRecordFoundException" name="fault"/>
  </message>
  <message name="performBadgeCheck">
    <part element="tns:performBadgeCheck" name="parameters"/>
  </message>
  <message name="performBadgeCheckResponse">
    <part element="tns:performBadgeCheckResponse" name="parameters"/>
  </message>
  <message name="performRoadLicenceCheckByPlateNumber">
    <part element="tns:performRoadLicenceCheckByPlateNumber" name="parameters"/>
  </message>
  <message name="performRoadLicenceCheckByPlateNumberResponse">
    <part element="tns:performRoadLicenceCheckByPlateNumberResponse" name="parameters"/>
  </message>
  <message name="performRoadLicMotorVehicleCheck">
    <part element="tns:performRoadLicMotorVehicleCheck" name="parameters"/>
  </message>
  <message name="performRoadLicMotorVehicleCheckResponse">
    <part element="tns:performRoadLicMotorVehicleCheckResponse" name="parameters"/>
  </message>
  <message name="performRoadLicMotorVehicleQuery">
    <part element="tns:performRoadLicMotorVehicleQuery" name="parameters"/>
  </message>
  <message name="performRoadLicMotorVehicleQueryResponse">
    <part element="tns:performRoadLicMotorVehicleQueryResponse" name="parameters"/>
  </message>
  <message name="performCitationHistoryCheck">
    <part element="tns:performCitationHistoryCheck" name="parameters"/>
  </message>
  <message name="performCitationHistoryCheckResponse">
    <part element="tns:performCitationHistoryCheckResponse" name="parameters"/>
  </message>
  <message name="performDriversLicenceCheck">
    <part element="tns:performDriversLicenceCheck" name="parameters"/>
  </message>
  <message name="performDriversLicenceCheckResponse">
    <part element="tns:performDriversLicenceCheckResponse" name="parameters"/>
  </message>
  <message name="recordOffenceOutcome">
    <part element="tns:recordOffenceOutcome" name="parameters"/>
  </message>
  <message name="recordOffenceOutcomeResponse">
    <part element="tns:recordOffenceOutcomeResponse" name="parameters"/>
  </message>
  <message name="lookupRoadCompliance">
    <part element="tns:lookupRoadCompliance" name="parameters"/>
  </message>
  <message name="lookupRoadComplianceResponse">
    <part element="tns:lookupRoadComplianceResponse" name="parameters"/>
  </message>
  <message name="getComplianceDetails">
    <part element="tns:getComplianceDetails" name="parameters"/>
  </message>
  <message name="getComplianceDetailsResponse">
    <part element="tns:getComplianceDetailsResponse" name="parameters"/>
  </message>
  <message name="getRequiredExcerptParams">
    <part element="tns:getRequiredExcerptParams" name="parameters"/>
  </message>
  <message name="getRequiredExcerptParamsResponse">
    <part element="tns:getRequiredExcerptParamsResponse" name="parameters"/>
  </message>
  <message name="getActiveOffenceMandatoryOutcomeList">
    <part element="tns:getActiveOffenceMandatoryOutcomeList" name="parameters"/>
  </message>
  <message name="getActiveOffenceMandatoryOutcomeListResponse">
    <part element="tns:getActiveOffenceMandatoryOutcomeListResponse" name="parameters"/>
  </message>
  <message name="createOtherCheck">
    <part element="tns:createOtherCheck" name="parameters"/>
  </message>
  <message name="createOtherCheckResponse">
    <part element="tns:createOtherCheckResponse" name="parameters"/>
  </message>
  <message name="getPersonFromDriversLicense">
    <part element="tns:getPersonFromDriversLicense" name="parameters"/>
  </message>
  <message name="getPersonFromDriversLicenseResponse">
    <part element="tns:getPersonFromDriversLicenseResponse" name="parameters"/>
  </message>
  <message name="searchForWreckerVehicle">
    <part element="tns:searchForWreckerVehicle" name="parameters"/>
  </message>
  <message name="searchForWreckerVehicleResponse">
    <part element="tns:searchForWreckerVehicleResponse" name="parameters"/>
  </message>
  <message name="recordOffenceOutcomeMobile">
    <part element="tns:recordOffenceOutcomeMobile" name="parameters"/>
  </message>
  <message name="recordOffenceOutcomeMobileResponse">
    <part element="tns:recordOffenceOutcomeMobileResponse" name="parameters"/>
  </message>
  <portType name="RoadCompliancyDelegate">
    <operation name="checkValidROMSWSUrl">
      <input message="tns:checkValidROMSWSUrl" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/checkValidROMSWSUrlRequest"/>
      <output message="tns:checkValidROMSWSUrlResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/checkValidROMSWSUrlResponse"/>
    </operation>
    <operation name="saveCompliance">
      <input message="tns:saveCompliance" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/saveComplianceRequest"/>
      <output message="tns:saveComplianceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/saveComplianceResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/saveCompliance/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/saveCompliance/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getCitationOffence">
      <input message="tns:getCitationOffence" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getCitationOffenceRequest"/>
      <output message="tns:getCitationOffenceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getCitationOffenceResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getCitationOffence/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getCitationOffence/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getCitationOffence/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="performBadgeCheck">
      <input message="tns:performBadgeCheck" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performBadgeCheckRequest"/>
      <output message="tns:performBadgeCheckResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performBadgeCheckResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performBadgeCheck/Fault/ErrorSavingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performBadgeCheck/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performBadgeCheck/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performBadgeCheck/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="performRoadLicenceCheckByPlateNumber">
      <input message="tns:performRoadLicenceCheckByPlateNumber" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicenceCheckByPlateNumberRequest"/>
      <output message="tns:performRoadLicenceCheckByPlateNumberResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicenceCheckByPlateNumberResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicenceCheckByPlateNumber/Fault/ErrorSavingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicenceCheckByPlateNumber/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicenceCheckByPlateNumber/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicenceCheckByPlateNumber/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="performRoadLicMotorVehicleCheck">
      <input message="tns:performRoadLicMotorVehicleCheck" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleCheckRequest"/>
      <output message="tns:performRoadLicMotorVehicleCheckResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleCheckResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleCheck/Fault/ErrorSavingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleCheck/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleCheck/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleCheck/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="performRoadLicMotorVehicleQuery">
      <input message="tns:performRoadLicMotorVehicleQuery" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleQueryRequest"/>
      <output message="tns:performRoadLicMotorVehicleQueryResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleQueryResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleQuery/Fault/ErrorSavingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleQuery/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleQuery/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performRoadLicMotorVehicleQuery/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="performCitationHistoryCheck">
      <input message="tns:performCitationHistoryCheck" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performCitationHistoryCheckRequest"/>
      <output message="tns:performCitationHistoryCheckResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performCitationHistoryCheckResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performCitationHistoryCheck/Fault/ErrorSavingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performCitationHistoryCheck/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performCitationHistoryCheck/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performCitationHistoryCheck/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="performDriversLicenceCheck">
      <input message="tns:performDriversLicenceCheck" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performDriversLicenceCheckRequest"/>
      <output message="tns:performDriversLicenceCheckResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performDriversLicenceCheckResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performDriversLicenceCheck/Fault/ErrorSavingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performDriversLicenceCheck/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performDriversLicenceCheck/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/performDriversLicenceCheck/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="recordOffenceOutcome">
      <input message="tns:recordOffenceOutcome" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcomeRequest"/>
      <output message="tns:recordOffenceOutcomeResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcomeResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcome/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcome/Fault/InvalidFieldException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcome/Fault/ErrorSavingException"/>
    </operation>
    <operation name="lookupRoadCompliance">
      <input message="tns:lookupRoadCompliance" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/lookupRoadComplianceRequest"/>
      <output message="tns:lookupRoadComplianceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/lookupRoadComplianceResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/lookupRoadCompliance/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/lookupRoadCompliance/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/lookupRoadCompliance/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getComplianceDetails">
      <input message="tns:getComplianceDetails" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getComplianceDetailsRequest"/>
      <output message="tns:getComplianceDetailsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getComplianceDetailsResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getComplianceDetails/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getComplianceDetails/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getComplianceDetails/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getRequiredExcerptParams">
      <input message="tns:getRequiredExcerptParams" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getRequiredExcerptParamsRequest"/>
      <output message="tns:getRequiredExcerptParamsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getRequiredExcerptParamsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getRequiredExcerptParams/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getActiveOffenceMandatoryOutcomeList">
      <input message="tns:getActiveOffenceMandatoryOutcomeList" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getActiveOffenceMandatoryOutcomeListRequest"/>
      <output message="tns:getActiveOffenceMandatoryOutcomeListResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getActiveOffenceMandatoryOutcomeListResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getActiveOffenceMandatoryOutcomeList/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="createOtherCheck">
      <input message="tns:createOtherCheck" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/createOtherCheckRequest"/>
      <output message="tns:createOtherCheckResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/createOtherCheckResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/createOtherCheck/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/createOtherCheck/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getPersonFromDriversLicense">
      <input message="tns:getPersonFromDriversLicense" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getPersonFromDriversLicenseRequest"/>
      <output message="tns:getPersonFromDriversLicenseResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getPersonFromDriversLicenseResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getPersonFromDriversLicense/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/getPersonFromDriversLicense/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="searchForWreckerVehicle">
      <input message="tns:searchForWreckerVehicle" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/searchForWreckerVehicleRequest"/>
      <output message="tns:searchForWreckerVehicleResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/searchForWreckerVehicleResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/searchForWreckerVehicle/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/searchForWreckerVehicle/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="recordOffenceOutcomeMobile">
      <input message="tns:recordOffenceOutcomeMobile" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcomeMobileRequest"/>
      <output message="tns:recordOffenceOutcomeMobileResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcomeMobileResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcomeMobile/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcomeMobile/Fault/InvalidFieldException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadCompliancyDelegate/recordOffenceOutcomeMobile/Fault/ErrorSavingException"/>
    </operation>
  </portType>
  <binding name="RoadCompliancyPortBinding" type="tns:RoadCompliancyDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="checkValidROMSWSUrl">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveCompliance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCitationOffence">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="performBadgeCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="performRoadLicenceCheckByPlateNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="performRoadLicMotorVehicleCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="performRoadLicMotorVehicleQuery">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="performCitationHistoryCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="performDriversLicenceCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="recordOffenceOutcome">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupRoadCompliance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getComplianceDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRequiredExcerptParams">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getActiveOffenceMandatoryOutcomeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="createOtherCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPersonFromDriversLicense">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchForWreckerVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="recordOffenceOutcomeMobile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RoadCompliancyService">
    <port binding="tns:RoadCompliancyPortBinding" name="RoadCompliancyPort">
      <soap:address location="http://localhost:9081/ROMSWS/RoadCompliancyService"/>
    </port>
  </service>
</definitions>