WebContent/WEB-INF/wsdl/RoadOperationService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:53 PM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="RoadOperationService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="RoadOperationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="lookupRoadOperation">
    <part element="tns:lookupRoadOperation" name="parameters"/>
  </message>
  <message name="lookupRoadOperationResponse">
    <part element="tns:lookupRoadOperationResponse" name="parameters"/>
  </message>
  <message name="InvalidFieldException">
    <part element="tns:InvalidFieldException" name="fault"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="NoRecordFoundException">
    <part element="tns:NoRecordFoundException" name="fault"/>
  </message>
  <message name="lookupRoadOperationWithDateRange">
    <part element="tns:lookupRoadOperationWithDateRange" name="parameters"/>
  </message>
  <message name="lookupRoadOperationWithDateRangeResponse">
    <part element="tns:lookupRoadOperationWithDateRangeResponse" name="parameters"/>
  </message>
  <message name="findRoadOperationOtherDetails">
    <part element="tns:findRoadOperationOtherDetails" name="parameters"/>
  </message>
  <message name="findRoadOperationOtherDetailsResponse">
    <part element="tns:findRoadOperationOtherDetailsResponse" name="parameters"/>
  </message>
  <message name="findTAStaffByPersonID">
    <part element="tns:findTAStaffByPersonID" name="parameters"/>
  </message>
  <message name="findTAStaffByPersonIDResponse">
    <part element="tns:findTAStaffByPersonIDResponse" name="parameters"/>
  </message>
  <message name="findJPByPersonID">
    <part element="tns:findJPByPersonID" name="parameters"/>
  </message>
  <message name="findJPByPersonIDResponse">
    <part element="tns:findJPByPersonIDResponse" name="parameters"/>
  </message>
  <message name="findITAExaminerByPersonID">
    <part element="tns:findITAExaminerByPersonID" name="parameters"/>
  </message>
  <message name="findITAExaminerByPersonIDResponse">
    <part element="tns:findITAExaminerByPersonIDResponse" name="parameters"/>
  </message>
  <message name="findPoliceOfficerByPersonID">
    <part element="tns:findPoliceOfficerByPersonID" name="parameters"/>
  </message>
  <message name="findPoliceOfficerByPersonIDResponse">
    <part element="tns:findPoliceOfficerByPersonIDResponse" name="parameters"/>
  </message>
  <message name="getAvailableResource">
    <part element="tns:getAvailableResource" name="parameters"/>
  </message>
  <message name="getAvailableResourceResponse">
    <part element="tns:getAvailableResourceResponse" name="parameters"/>
  </message>
  <message name="getAvailableTAStaffResource">
    <part element="tns:getAvailableTAStaffResource" name="parameters"/>
  </message>
  <message name="getAvailableTAStaffResourceResponse">
    <part element="tns:getAvailableTAStaffResourceResponse" name="parameters"/>
  </message>
  <message name="getAvailableJPResource">
    <part element="tns:getAvailableJPResource" name="parameters"/>
  </message>
  <message name="getAvailableJPResourceResponse">
    <part element="tns:getAvailableJPResourceResponse" name="parameters"/>
  </message>
  <message name="getAvailablePoliceResource">
    <part element="tns:getAvailablePoliceResource" name="parameters"/>
  </message>
  <message name="getAvailablePoliceResourceResponse">
    <part element="tns:getAvailablePoliceResourceResponse" name="parameters"/>
  </message>
  <message name="getAvailableITAResource">
    <part element="tns:getAvailableITAResource" name="parameters"/>
  </message>
  <message name="getAvailableITAResourceResponse">
    <part element="tns:getAvailableITAResourceResponse" name="parameters"/>
  </message>
  <message name="getAvailableTAVehResource">
    <part element="tns:getAvailableTAVehResource" name="parameters"/>
  </message>
  <message name="getAvailableTAVehResourceResponse">
    <part element="tns:getAvailableTAVehResourceResponse" name="parameters"/>
  </message>
  <message name="isPersonAvailable">
    <part element="tns:isPersonAvailable" name="parameters"/>
  </message>
  <message name="isPersonAvailableResponse">
    <part element="tns:isPersonAvailableResponse" name="parameters"/>
  </message>
  <message name="isTAVehicleAvailable">
    <part element="tns:isTAVehicleAvailable" name="parameters"/>
  </message>
  <message name="isTAVehicleAvailableResponse">
    <part element="tns:isTAVehicleAvailableResponse" name="parameters"/>
  </message>
  <message name="getOperationStrategyRule">
    <part element="tns:getOperationStrategyRule" name="parameters"/>
  </message>
  <message name="getOperationStrategyRuleResponse">
    <part element="tns:getOperationStrategyRuleResponse" name="parameters"/>
  </message>
  <message name="isVehicleRequired">
    <part element="tns:isVehicleRequired" name="parameters"/>
  </message>
  <message name="isVehicleRequiredResponse">
    <part element="tns:isVehicleRequiredResponse" name="parameters"/>
  </message>
  <message name="isOperationStrategyValid">
    <part element="tns:isOperationStrategyValid" name="parameters"/>
  </message>
  <message name="isOperationStrategyValidResponse">
    <part element="tns:isOperationStrategyValidResponse" name="parameters"/>
  </message>
  <message name="saveRoadOperation">
    <part element="tns:saveRoadOperation" name="parameters"/>
  </message>
  <message name="saveRoadOperationResponse">
    <part element="tns:saveRoadOperationResponse" name="parameters"/>
  </message>
  <message name="ErrorSavingException">
    <part element="tns:ErrorSavingException" name="fault"/>
  </message>
  <message name="findSavedRoadOperationAssignedResource">
    <part element="tns:findSavedRoadOperationAssignedResource" name="parameters"/>
  </message>
  <message name="findSavedRoadOperationAssignedResourceResponse">
    <part element="tns:findSavedRoadOperationAssignedResourceResponse" name="parameters"/>
  </message>
  <message name="cancelRoadOperation">
    <part element="tns:cancelRoadOperation" name="parameters"/>
  </message>
  <message name="cancelRoadOperationResponse">
    <part element="tns:cancelRoadOperationResponse" name="parameters"/>
  </message>
  <message name="Exception">
    <part element="tns:Exception" name="fault"/>
  </message>
  <message name="terminateRoadOperation">
    <part element="tns:terminateRoadOperation" name="parameters"/>
  </message>
  <message name="terminateRoadOperationResponse">
    <part element="tns:terminateRoadOperationResponse" name="parameters"/>
  </message>
  <message name="closeRoadOperation">
    <part element="tns:closeRoadOperation" name="parameters"/>
  </message>
  <message name="closeRoadOperationResponse">
    <part element="tns:closeRoadOperationResponse" name="parameters"/>
  </message>
  <message name="validateCourtDateRest">
    <part element="tns:validateCourtDateRest" name="parameters"/>
  </message>
  <message name="validateCourtDateRestResponse">
    <part element="tns:validateCourtDateRestResponse" name="parameters"/>
  </message>
  <message name="validateCourtDate">
    <part element="tns:validateCourtDate" name="parameters"/>
  </message>
  <message name="validateCourtDateResponse">
    <part element="tns:validateCourtDateResponse" name="parameters"/>
  </message>
  <message name="updateRoadOperation">
    <part element="tns:updateRoadOperation" name="parameters"/>
  </message>
  <message name="updateRoadOperationResponse">
    <part element="tns:updateRoadOperationResponse" name="parameters"/>
  </message>
  <message name="authorizeRoadOperation">
    <part element="tns:authorizeRoadOperation" name="parameters"/>
  </message>
  <message name="authorizeRoadOperationResponse">
    <part element="tns:authorizeRoadOperationResponse" name="parameters"/>
  </message>
  <message name="lookupRoadOperationForRoadCheck">
    <part element="tns:lookupRoadOperationForRoadCheck" name="parameters"/>
  </message>
  <message name="lookupRoadOperationForRoadCheckResponse">
    <part element="tns:lookupRoadOperationForRoadCheckResponse" name="parameters"/>
  </message>
  <message name="lookupAllRoadOperationForRoadCheck">
    <part element="tns:lookupAllRoadOperationForRoadCheck" name="parameters"/>
  </message>
  <message name="lookupAllRoadOperationForRoadCheckResponse">
    <part element="tns:lookupAllRoadOperationForRoadCheckResponse" name="parameters"/>
  </message>
  <message name="lookupOperationArtery">
    <part element="tns:lookupOperationArtery" name="parameters"/>
  </message>
  <message name="lookupOperationArteryResponse">
    <part element="tns:lookupOperationArteryResponse" name="parameters"/>
  </message>
  <message name="lookupAllOperationArtery">
    <part element="tns:lookupAllOperationArtery" name="parameters"/>
  </message>
  <message name="lookupAllOperationArteryResponse">
    <part element="tns:lookupAllOperationArteryResponse" name="parameters"/>
  </message>
  <message name="findOfficeLocCodeList">
    <part element="tns:findOfficeLocCodeList" name="parameters"/>
  </message>
  <message name="findOfficeLocCodeListResponse">
    <part element="tns:findOfficeLocCodeListResponse" name="parameters"/>
  </message>
  <message name="findActiveOperationForUser">
    <part element="tns:findActiveOperationForUser" name="parameters"/>
  </message>
  <message name="findActiveOperationForUserResponse">
    <part element="tns:findActiveOperationForUserResponse" name="parameters"/>
  </message>
  <message name="findAssignedStaffForRoadOperation">
    <part element="tns:findAssignedStaffForRoadOperation" name="parameters"/>
  </message>
  <message name="findAssignedStaffForRoadOperationResponse">
    <part element="tns:findAssignedStaffForRoadOperationResponse" name="parameters"/>
  </message>
  <message name="getAllROMSStaff">
    <part element="tns:getAllROMSStaff" name="parameters"/>
  </message>
  <message name="getAllROMSStaffResponse">
    <part element="tns:getAllROMSStaffResponse" name="parameters"/>
  </message>
  <message name="findArteryList">
    <part element="tns:findArteryList" name="parameters"/>
  </message>
  <message name="findArteryListResponse">
    <part element="tns:findArteryListResponse" name="parameters"/>
  </message>
  <message name="getStaffByUsername">
    <part element="tns:getStaffByUsername" name="parameters"/>
  </message>
  <message name="getStaffByUsernameResponse">
    <part element="tns:getStaffByUsernameResponse" name="parameters"/>
  </message>
  <portType name="RoadOperationDelegate">
    <operation name="lookupRoadOperation">
      <input message="tns:lookupRoadOperation" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationRequest"/>
      <output message="tns:lookupRoadOperationResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperation/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperation/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperation/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupRoadOperationWithDateRange">
      <input message="tns:lookupRoadOperationWithDateRange" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationWithDateRangeRequest"/>
      <output message="tns:lookupRoadOperationWithDateRangeResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationWithDateRangeResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationWithDateRange/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationWithDateRange/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationWithDateRange/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="findRoadOperationOtherDetails">
      <input message="tns:findRoadOperationOtherDetails" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findRoadOperationOtherDetailsRequest"/>
      <output message="tns:findRoadOperationOtherDetailsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findRoadOperationOtherDetailsResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findRoadOperationOtherDetails/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findRoadOperationOtherDetails/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findRoadOperationOtherDetails/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="findTAStaffByPersonID">
      <input message="tns:findTAStaffByPersonID" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findTAStaffByPersonIDRequest"/>
      <output message="tns:findTAStaffByPersonIDResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findTAStaffByPersonIDResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findTAStaffByPersonID/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findTAStaffByPersonID/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="findJPByPersonID">
      <input message="tns:findJPByPersonID" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findJPByPersonIDRequest"/>
      <output message="tns:findJPByPersonIDResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findJPByPersonIDResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findJPByPersonID/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findJPByPersonID/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="findITAExaminerByPersonID">
      <input message="tns:findITAExaminerByPersonID" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findITAExaminerByPersonIDRequest"/>
      <output message="tns:findITAExaminerByPersonIDResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findITAExaminerByPersonIDResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findITAExaminerByPersonID/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findITAExaminerByPersonID/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="findPoliceOfficerByPersonID">
      <input message="tns:findPoliceOfficerByPersonID" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findPoliceOfficerByPersonIDRequest"/>
      <output message="tns:findPoliceOfficerByPersonIDResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findPoliceOfficerByPersonIDResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findPoliceOfficerByPersonID/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findPoliceOfficerByPersonID/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getAvailableResource">
      <input message="tns:getAvailableResource" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableResourceRequest"/>
      <output message="tns:getAvailableResourceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableResourceResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableResource/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableResource/Fault/InvalidFieldException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableResource/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getAvailableTAStaffResource">
      <input message="tns:getAvailableTAStaffResource" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAStaffResourceRequest"/>
      <output message="tns:getAvailableTAStaffResourceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAStaffResourceResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAStaffResource/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAStaffResource/Fault/InvalidFieldException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAStaffResource/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getAvailableJPResource">
      <input message="tns:getAvailableJPResource" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableJPResourceRequest"/>
      <output message="tns:getAvailableJPResourceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableJPResourceResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableJPResource/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableJPResource/Fault/InvalidFieldException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableJPResource/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getAvailablePoliceResource">
      <input message="tns:getAvailablePoliceResource" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailablePoliceResourceRequest"/>
      <output message="tns:getAvailablePoliceResourceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailablePoliceResourceResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailablePoliceResource/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailablePoliceResource/Fault/InvalidFieldException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailablePoliceResource/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getAvailableITAResource">
      <input message="tns:getAvailableITAResource" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableITAResourceRequest"/>
      <output message="tns:getAvailableITAResourceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableITAResourceResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableITAResource/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableITAResource/Fault/InvalidFieldException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableITAResource/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getAvailableTAVehResource">
      <input message="tns:getAvailableTAVehResource" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAVehResourceRequest"/>
      <output message="tns:getAvailableTAVehResourceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAVehResourceResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAVehResource/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAVehResource/Fault/InvalidFieldException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAvailableTAVehResource/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="isPersonAvailable">
      <input message="tns:isPersonAvailable" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isPersonAvailableRequest"/>
      <output message="tns:isPersonAvailableResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isPersonAvailableResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isPersonAvailable/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isPersonAvailable/Fault/InvalidFieldException"/>
    </operation>
    <operation name="isTAVehicleAvailable">
      <input message="tns:isTAVehicleAvailable" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isTAVehicleAvailableRequest"/>
      <output message="tns:isTAVehicleAvailableResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isTAVehicleAvailableResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isTAVehicleAvailable/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isTAVehicleAvailable/Fault/InvalidFieldException"/>
    </operation>
    <operation name="getOperationStrategyRule">
      <input message="tns:getOperationStrategyRule" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getOperationStrategyRuleRequest"/>
      <output message="tns:getOperationStrategyRuleResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getOperationStrategyRuleResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getOperationStrategyRule/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getOperationStrategyRule/Fault/InvalidFieldException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getOperationStrategyRule/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="isVehicleRequired">
      <input message="tns:isVehicleRequired" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isVehicleRequiredRequest"/>
      <output message="tns:isVehicleRequiredResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isVehicleRequiredResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isVehicleRequired/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isVehicleRequired/Fault/InvalidFieldException"/>
    </operation>
    <operation name="isOperationStrategyValid">
      <input message="tns:isOperationStrategyValid" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isOperationStrategyValidRequest"/>
      <output message="tns:isOperationStrategyValidResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isOperationStrategyValidResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isOperationStrategyValid/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/isOperationStrategyValid/Fault/InvalidFieldException"/>
    </operation>
    <operation name="saveRoadOperation">
      <input message="tns:saveRoadOperation" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/saveRoadOperationRequest"/>
      <output message="tns:saveRoadOperationResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/saveRoadOperationResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/saveRoadOperation/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/saveRoadOperation/Fault/InvalidFieldException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/saveRoadOperation/Fault/ErrorSavingException"/>
    </operation>
    <operation name="findSavedRoadOperationAssignedResource">
      <input message="tns:findSavedRoadOperationAssignedResource" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findSavedRoadOperationAssignedResourceRequest"/>
      <output message="tns:findSavedRoadOperationAssignedResourceResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findSavedRoadOperationAssignedResourceResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findSavedRoadOperationAssignedResource/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findSavedRoadOperationAssignedResource/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="cancelRoadOperation">
      <input message="tns:cancelRoadOperation" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/cancelRoadOperationRequest"/>
      <output message="tns:cancelRoadOperationResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/cancelRoadOperationResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/cancelRoadOperation/Fault/InvalidFieldException"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/cancelRoadOperation/Fault/Exception"/>
    </operation>
    <operation name="terminateRoadOperation">
      <input message="tns:terminateRoadOperation" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/terminateRoadOperationRequest"/>
      <output message="tns:terminateRoadOperationResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/terminateRoadOperationResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/terminateRoadOperation/Fault/InvalidFieldException"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/terminateRoadOperation/Fault/Exception"/>
    </operation>
    <operation name="closeRoadOperation">
      <input message="tns:closeRoadOperation" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/closeRoadOperationRequest"/>
      <output message="tns:closeRoadOperationResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/closeRoadOperationResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/closeRoadOperation/Fault/InvalidFieldException"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/closeRoadOperation/Fault/Exception"/>
    </operation>
    <operation name="validateCourtDateRest">
      <input message="tns:validateCourtDateRest" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/validateCourtDateRestRequest"/>
      <output message="tns:validateCourtDateRestResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/validateCourtDateRestResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/validateCourtDateRest/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/validateCourtDateRest/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="validateCourtDate">
      <input message="tns:validateCourtDate" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/validateCourtDateRequest"/>
      <output message="tns:validateCourtDateResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/validateCourtDateResponse"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/validateCourtDate/Fault/InvalidFieldException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/validateCourtDate/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updateRoadOperation">
      <input message="tns:updateRoadOperation" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/updateRoadOperationRequest"/>
      <output message="tns:updateRoadOperationResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/updateRoadOperationResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/updateRoadOperation/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/updateRoadOperation/Fault/InvalidFieldException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/updateRoadOperation/Fault/ErrorSavingException"/>
    </operation>
    <operation name="authorizeRoadOperation">
      <input message="tns:authorizeRoadOperation" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/authorizeRoadOperationRequest"/>
      <output message="tns:authorizeRoadOperationResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/authorizeRoadOperationResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/authorizeRoadOperation/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/authorizeRoadOperation/Fault/InvalidFieldException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/authorizeRoadOperation/Fault/ErrorSavingException"/>
    </operation>
    <operation name="lookupRoadOperationForRoadCheck">
      <input message="tns:lookupRoadOperationForRoadCheck" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationForRoadCheckRequest"/>
      <output message="tns:lookupRoadOperationForRoadCheckResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationForRoadCheckResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationForRoadCheck/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupRoadOperationForRoadCheck/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupAllRoadOperationForRoadCheck">
      <input message="tns:lookupAllRoadOperationForRoadCheck" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupAllRoadOperationForRoadCheckRequest"/>
      <output message="tns:lookupAllRoadOperationForRoadCheckResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupAllRoadOperationForRoadCheckResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupAllRoadOperationForRoadCheck/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupOperationArtery">
      <input message="tns:lookupOperationArtery" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupOperationArteryRequest"/>
      <output message="tns:lookupOperationArteryResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupOperationArteryResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupOperationArtery/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupOperationArtery/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupAllOperationArtery">
      <input message="tns:lookupAllOperationArtery" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupAllOperationArteryRequest"/>
      <output message="tns:lookupAllOperationArteryResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupAllOperationArteryResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupAllOperationArtery/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/lookupAllOperationArtery/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="findOfficeLocCodeList">
      <input message="tns:findOfficeLocCodeList" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findOfficeLocCodeListRequest"/>
      <output message="tns:findOfficeLocCodeListResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findOfficeLocCodeListResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findOfficeLocCodeList/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findOfficeLocCodeList/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="findActiveOperationForUser">
      <input message="tns:findActiveOperationForUser" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findActiveOperationForUserRequest"/>
      <output message="tns:findActiveOperationForUserResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findActiveOperationForUserResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findActiveOperationForUser/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findActiveOperationForUser/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="findAssignedStaffForRoadOperation">
      <input message="tns:findAssignedStaffForRoadOperation" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findAssignedStaffForRoadOperationRequest"/>
      <output message="tns:findAssignedStaffForRoadOperationResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findAssignedStaffForRoadOperationResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findAssignedStaffForRoadOperation/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findAssignedStaffForRoadOperation/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getAllROMSStaff">
      <input message="tns:getAllROMSStaff" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAllROMSStaffRequest"/>
      <output message="tns:getAllROMSStaffResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAllROMSStaffResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getAllROMSStaff/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="findArteryList">
      <input message="tns:findArteryList" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findArteryListRequest"/>
      <output message="tns:findArteryListResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findArteryListResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/findArteryList/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="getStaffByUsername">
      <input message="tns:getStaffByUsername" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getStaffByUsernameRequest"/>
      <output message="tns:getStaffByUsernameResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getStaffByUsernameResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getStaffByUsername/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/RoadOperationDelegate/getStaffByUsername/Fault/NoRecordFoundException"/>
    </operation>
  </portType>
  <binding name="RoadOperationPortBinding" type="tns:RoadOperationDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="lookupRoadOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupRoadOperationWithDateRange">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRoadOperationOtherDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTAStaffByPersonID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findJPByPersonID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findITAExaminerByPersonID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPoliceOfficerByPersonID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailableResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailableTAStaffResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailableJPResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailablePoliceResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailableITAResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailableTAVehResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="isPersonAvailable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
    </operation>
    <operation name="isTAVehicleAvailable">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
    </operation>
    <operation name="getOperationStrategyRule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="isVehicleRequired">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
    </operation>
    <operation name="isOperationStrategyValid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveRoadOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSavedRoadOperationAssignedResource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelRoadOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="terminateRoadOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="closeRoadOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="validateCourtDateRest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="validateCourtDate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateRoadOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="authorizeRoadOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupRoadOperationForRoadCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupAllRoadOperationForRoadCheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupOperationArtery">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupAllOperationArtery">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOfficeLocCodeList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findActiveOperationForUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAssignedStaffForRoadOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllROMSStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findArteryList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStaffByUsername">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RoadOperationService">
    <port binding="tns:RoadOperationPortBinding" name="RoadOperationPort">
      <soap:address location="http://localhost:9080/ROMSWS/RoadOperationService"/>
    </port>
  </service>
</definitions>