WebContent/WEB-INF/wsdl/ROMSUserDetailsService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ROMSUserDetailsService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="ROMSUserDetailsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="validUser">
    <part element="tns:validUser" name="parameters"/>
  </message>
  <message name="validUserResponse">
    <part element="tns:validUserResponse" name="parameters"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="hasPermision">
    <part element="tns:hasPermision" name="parameters"/>
  </message>
  <message name="hasPermisionResponse">
    <part element="tns:hasPermisionResponse" name="parameters"/>
  </message>
  <message name="findUser">
    <part element="tns:findUser" name="parameters"/>
  </message>
  <message name="findUserResponse">
    <part element="tns:findUserResponse" name="parameters"/>
  </message>
  <message name="validOverride">
    <part element="tns:validOverride" name="parameters"/>
  </message>
  <message name="validOverrideResponse">
    <part element="tns:validOverrideResponse" name="parameters"/>
  </message>
  <message name="findUserGroups">
    <part element="tns:findUserGroups" name="parameters"/>
  </message>
  <message name="findUserGroupsResponse">
    <part element="tns:findUserGroupsResponse" name="parameters"/>
  </message>
  <message name="findUserPermissions">
    <part element="tns:findUserPermissions" name="parameters"/>
  </message>
  <message name="findUserPermissionsResponse">
    <part element="tns:findUserPermissionsResponse" name="parameters"/>
  </message>
  <message name="findUserPermissionStrings">
    <part element="tns:findUserPermissionStrings" name="parameters"/>
  </message>
  <message name="findUserPermissionStringsResponse">
    <part element="tns:findUserPermissionStringsResponse" name="parameters"/>
  </message>
  <message name="userLogIn">
    <part element="tns:userLogIn" name="parameters"/>
  </message>
  <message name="userLogInResponse">
    <part element="tns:userLogInResponse" name="parameters"/>
  </message>
  <message name="userLogOut">
    <part element="tns:userLogOut" name="parameters"/>
  </message>
  <message name="userLogOutResponse">
    <part element="tns:userLogOutResponse" name="parameters"/>
  </message>
  <portType name="ROMSUserDetailsDelegate">
    <operation name="validUser">
      <input message="tns:validUser" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/validUserRequest"/>
      <output message="tns:validUserResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/validUserResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/validUser/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="hasPermision">
      <input message="tns:hasPermision" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/hasPermisionRequest"/>
      <output message="tns:hasPermisionResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/hasPermisionResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/hasPermision/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="findUser">
      <input message="tns:findUser" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserRequest"/>
      <output message="tns:findUserResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUser/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="validOverride">
      <input message="tns:validOverride" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/validOverrideRequest"/>
      <output message="tns:validOverrideResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/validOverrideResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/validOverride/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="findUserGroups">
      <input message="tns:findUserGroups" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserGroupsRequest"/>
      <output message="tns:findUserGroupsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserGroupsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserGroups/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="findUserPermissions">
      <input message="tns:findUserPermissions" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserPermissionsRequest"/>
      <output message="tns:findUserPermissionsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserPermissionsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserPermissions/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="findUserPermissionStrings">
      <input message="tns:findUserPermissionStrings" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserPermissionStringsRequest"/>
      <output message="tns:findUserPermissionStringsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserPermissionStringsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/findUserPermissionStrings/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="userLogIn">
      <input message="tns:userLogIn" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/userLogInRequest"/>
      <output message="tns:userLogInResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/userLogInResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/userLogIn/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="userLogOut">
      <input message="tns:userLogOut" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/userLogOutRequest"/>
      <output message="tns:userLogOutResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/userLogOutResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ROMSUserDetailsDelegate/userLogOut/Fault/RequiredFieldMissingException"/>
    </operation>
  </portType>
  <binding name="ROMSUserDetailsPortBinding" type="tns:ROMSUserDetailsDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="validUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="hasPermision">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="validOverride">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUserGroups">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUserPermissions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUserPermissionStrings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="userLogIn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="userLogOut">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ROMSUserDetailsService">
    <port binding="tns:ROMSUserDetailsPortBinding" name="ROMSUserDetailsPort">
      <soap:address location="http://localhost:9080/ROMSWS/ROMSUserDetailsService"/>
    </port>
  </service>
</definitions>