WebContent/WEB-INF/wsdl/ScannedDocUploadService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices.roms.toms.ta.fsl/" version="1.0" xmlns:tns="http://webservices.roms.toms.ta.fsl/">

  <xs:element name="ErrorSavingException" type="tns:ErrorSavingException"/>

  <xs:element name="RequiredFieldMissingException" type="tns:RequiredFieldMissingException"/>

  <xs:element name="deleteScannedDoc" type="tns:deleteScannedDoc"/>

  <xs:element name="deleteScannedDocResponse" type="tns:deleteScannedDocResponse"/>

  <xs:element name="deleteScannedManualDoc" type="tns:deleteScannedManualDoc"/>

  <xs:element name="deleteScannedManualDocResponse" type="tns:deleteScannedManualDocResponse"/>

  <xs:element name="getFileContents" type="tns:getFileContents"/>

  <xs:element name="getFileContentsResponse" type="tns:getFileContentsResponse"/>

  <xs:element name="getScannedDocById" type="tns:getScannedDocById"/>

  <xs:element name="getScannedDocByIdResponse" type="tns:getScannedDocByIdResponse"/>

  <xs:element name="uploadFile" type="tns:uploadFile"/>

  <xs:element name="uploadFileResponse" type="tns:uploadFileResponse"/>

  <xs:complexType name="deleteScannedDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="scannedDoc" type="tns:scannedDocBO"/>
      <xs:element minOccurs="0" name="document" type="tns:documentViewBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scannedDocBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createdUser" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="docType" type="xs:string"/>
      <xs:element minOccurs="0" name="fileContents" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="manualSerialNo" type="xs:string"/>
      <xs:element minOccurs="0" name="mimeType" type="xs:string"/>
      <xs:element minOccurs="0" name="newReprintComment" type="xs:string"/>
      <xs:element minOccurs="0" name="printCount" type="xs:int"/>
      <xs:element minOccurs="0" name="printDTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="printUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="relativePath" type="xs:string"/>
      <xs:element minOccurs="0" name="reprintComment" type="xs:string"/>
      <xs:element minOccurs="0" name="reprintReasonCode" type="xs:int"/>
      <xs:element minOccurs="0" name="roadCheckOffence" type="xs:string"/>
      <xs:element minOccurs="0" name="roadCheckOffenceOutcomeId" type="xs:int"/>
      <xs:element minOccurs="0" name="scannedDocId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="documentViewBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="allowUpload" type="xs:string"/>
      <xs:element minOccurs="0" name="authorizeDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="authorizeUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="authorizedFlag" type="xs:string"/>
      <xs:element minOccurs="0" name="automaticSerialNo" type="xs:int"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element minOccurs="0" name="complianceID" type="xs:int"/>
      <xs:element minOccurs="0" name="courtCode" type="xs:int"/>
      <xs:element minOccurs="0" name="courtDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="courtName" type="xs:string"/>
      <xs:element minOccurs="0" name="courtTime" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element name="documentSelected" type="xs:boolean"/>
      <xs:element minOccurs="0" name="documentTypeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="documentTypeName" type="xs:string"/>
      <xs:element minOccurs="0" name="initialCourtDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="initialCourtId" type="xs:int"/>
      <xs:element minOccurs="0" name="initialCourtName" type="xs:string"/>
      <xs:element minOccurs="0" name="issueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="issueUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="jpFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="jpFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="jpIdNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="jpLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="jpParish" type="xs:string"/>
      <xs:element minOccurs="0" name="jpRegNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="lastUpdateUser" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listOfOffences" nillable="true" type="tns:offenceBO"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listOfVehicleOwners" nillable="true" type="tns:vehicleOwnerBO"/>
      <xs:element minOccurs="0" name="manualSerialNo" type="xs:string"/>
      <xs:element minOccurs="0" name="newComment" type="xs:string"/>
      <xs:element minOccurs="0" name="newStatusId" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceCode" type="xs:int"/>
      <xs:element minOccurs="0" name="offenceDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="offenceDtimeString" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceLocation" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceParishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderAddressWithNewLine" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderCellPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderFullNameNTRN" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderHomePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderId" type="xs:int"/>
      <xs:element minOccurs="0" name="offenderLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderRoleObserved" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderTRN" type="xs:string"/>
      <xs:element minOccurs="0" name="offenderWorkPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="operationName" type="xs:string"/>
      <xs:element minOccurs="0" name="origin" type="xs:string"/>
      <xs:element minOccurs="0" name="printCount" type="xs:int"/>
      <xs:element minOccurs="0" name="printDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="printUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="reasonCode" type="xs:int"/>
      <xs:element minOccurs="0" name="referenceNo" type="xs:string"/>
      <xs:element minOccurs="0" name="reprintComment" type="xs:string"/>
      <xs:element minOccurs="0" name="reprintDtime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="reprintReasonCode" type="xs:int"/>
      <xs:element minOccurs="0" name="reprintUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="roadCheckOffenceOutcomeCode" type="xs:int"/>
      <xs:element minOccurs="0" name="roadLicence" type="tns:roadLicenceBO"/>
      <xs:element minOccurs="0" name="roadOperationId" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="scannedDocList" nillable="true" type="tns:scannedDocBO"/>
      <xs:element minOccurs="0" name="servedByFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="servedByLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="servedByUserID" type="xs:string"/>
      <xs:element minOccurs="0" name="servedOnDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
      <xs:element name="supervisorAuthorisationRequested" type="xs:boolean"/>
      <xs:element minOccurs="0" name="taStaffFirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffFullName" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffId" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="taStaffMiddleName" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicle" type="tns:vehicleBO"/>
      <xs:element minOccurs="0" name="verificationRequired" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offenceBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditEntryBO" type="tns:auditEntryBO"/>
      <xs:element minOccurs="0" name="currentUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="excerpt" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="offenceId" type="xs:int"/>
      <xs:element minOccurs="0" name="roadCheckTypeDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="roadCheckTypeId" type="xs:string"/>
      <xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="statusId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="auditEntryBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="createDTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createUsername" type="xs:string"/>
      <xs:element minOccurs="0" name="updateDTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="updateUsername" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vehicleOwnerBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="tns:addressBO"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="midName" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerId" type="xs:int"/>
      <xs:element minOccurs="0" name="trnBranch" type="xs:string"/>
      <xs:element minOccurs="0" name="trnNbr" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleCheckResultID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addressBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="markText" type="xs:string"/>
      <xs:element minOccurs="0" name="parishDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="parish_code" type="xs:string"/>
      <xs:element minOccurs="0" name="poBoxNo" type="xs:string"/>
      <xs:element minOccurs="0" name="poLocationName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roadLicenceBO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="assignedDriverConductor" nillable="true" type="tns:roadLicenceDriverConductorBO"/>
      <xs:element minOccurs="0" name="controlNo" type="xs:int"/>
      <xs:element minOccurs="0" name="depot" type="xs:string"/>
      <xs:element minOccurs="0" name="expiryDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fitnessExpDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fitnessIssueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="fitnessNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="insuranceComp" type="xs:string"/>
      <xs:element minOccurs="0" name="insuranceExpDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="insuranceIssueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="issueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="licPlate" type="xs:string"/>
      <xs:element minOccurs="0" name="licType" type="xs:string"/>
      <xs:element minOccurs="0" name="licenceNo" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="licenceOwners" nillable="true" type="tns:roadLicenceOwnerBO"/>
      <xs:element minOccurs="0" name="lmisApplicationBO" type="tns:lmisApplicationBO"/>
      <xs:element minOccurs="0" name="modelDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="modelYear" type="xs:int"/>
      <xs:element minOccurs="0" name="routeDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="routeEnd" type="xs:string"/>
      <xs:element minOccurs="0" name="routeStart" type="xs:string"/>
      <xs:element minOccurs="0" name="seatCapacity" type="xs:int"/>
      <xs:element minOccurs="0" name="statusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="vehMakeDesc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roadLicenceDriverConductorBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="badgeNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="badgeType" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roadLicenceOwnerBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="homePhoneNo" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="licenceNo" type="xs:int"/>
      <xs:element minOccurs="0" name="mark" type="xs:string"/>
      <xs:element minOccurs="0" name="mobilePhoneNo" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerType" type="xs:string"/>
      <xs:element minOccurs="0" name="parishCode" type="xs:string"/>
      <xs:element minOccurs="0" name="poBox" type="xs:string"/>
      <xs:element minOccurs="0" name="postOffice" type="xs:string"/>
      <xs:element minOccurs="0" name="streetName" type="xs:string"/>
      <xs:element minOccurs="0" name="streetNo" type="xs:string"/>
      <xs:element minOccurs="0" name="trn" type="xs:string"/>
      <xs:element minOccurs="0" name="workPhoneNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lmisApplicationBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="applDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="applNo" type="xs:int"/>
      <xs:element minOccurs="0" name="licDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="licPlate" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDesc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vehicleBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="chassisNo" type="xs:string"/>
      <xs:element minOccurs="0" name="colour" type="xs:string"/>
      <xs:element minOccurs="0" name="currentUserName" type="xs:string"/>
      <xs:element minOccurs="0" name="engineNo" type="xs:string"/>
      <xs:element minOccurs="0" name="makeDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="model" type="xs:string"/>
      <xs:element minOccurs="0" name="ownerName" type="xs:string"/>
      <xs:element minOccurs="0" name="plateRegNo" type="xs:string"/>
      <xs:element minOccurs="0" name="typeDesc" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleId" type="xs:int"/>
      <xs:element minOccurs="0" name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteScannedDocResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:scannedDocBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ErrorSavingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequiredFieldMissingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFileContents">
    <xs:sequence>
      <xs:element minOccurs="0" name="scannedDoc" type="tns:scannedDocBO"/>
      <xs:element minOccurs="0" name="document" type="tns:documentViewBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFileContentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:scannedDocBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="uploadFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="scannedDoc" type="tns:scannedDocBO"/>
      <xs:element minOccurs="0" name="document" type="tns:documentViewBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="uploadFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:scannedDocBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getScannedDocById">
    <xs:sequence>
      <xs:element minOccurs="0" name="scannedDocID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getScannedDocByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:scannedDocBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteScannedManualDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="scannedDoc" type="tns:scannedDocBO"/>
      <xs:element minOccurs="0" name="document" type="tns:documentViewBO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteScannedManualDocResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:scannedDocBO"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>