WebContent/WEB-INF/wsdl/ScannedDocUploadService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:53 PM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="ScannedDocUploadService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="ScannedDocUploadService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="uploadFile">
    <part element="tns:uploadFile" name="parameters"/>
  </message>
  <message name="uploadFileResponse">
    <part element="tns:uploadFileResponse" name="parameters"/>
  </message>
  <message name="ErrorSavingException">
    <part element="tns:ErrorSavingException" name="fault"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="getFileContents">
    <part element="tns:getFileContents" name="parameters"/>
  </message>
  <message name="getFileContentsResponse">
    <part element="tns:getFileContentsResponse" name="parameters"/>
  </message>
  <message name="getScannedDocById">
    <part element="tns:getScannedDocById" name="parameters"/>
  </message>
  <message name="getScannedDocByIdResponse">
    <part element="tns:getScannedDocByIdResponse" name="parameters"/>
  </message>
  <message name="deleteScannedDoc">
    <part element="tns:deleteScannedDoc" name="parameters"/>
  </message>
  <message name="deleteScannedDocResponse">
    <part element="tns:deleteScannedDocResponse" name="parameters"/>
  </message>
  <message name="deleteScannedManualDoc">
    <part element="tns:deleteScannedManualDoc" name="parameters"/>
  </message>
  <message name="deleteScannedManualDocResponse">
    <part element="tns:deleteScannedManualDocResponse" name="parameters"/>
  </message>
  <portType name="ScannedDocUploadDelegate">
    <operation name="uploadFile">
      <input message="tns:uploadFile" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/uploadFileRequest"/>
      <output message="tns:uploadFileResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/uploadFileResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/uploadFile/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/uploadFile/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getFileContents">
      <input message="tns:getFileContents" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/getFileContentsRequest"/>
      <output message="tns:getFileContentsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/getFileContentsResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/getFileContents/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/getFileContents/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getScannedDocById">
      <input message="tns:getScannedDocById" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/getScannedDocByIdRequest"/>
      <output message="tns:getScannedDocByIdResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/getScannedDocByIdResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/getScannedDocById/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/getScannedDocById/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="deleteScannedDoc">
      <input message="tns:deleteScannedDoc" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/deleteScannedDocRequest"/>
      <output message="tns:deleteScannedDocResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/deleteScannedDocResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/deleteScannedDoc/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/deleteScannedDoc/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="deleteScannedManualDoc">
      <input message="tns:deleteScannedManualDoc" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/deleteScannedManualDocRequest"/>
      <output message="tns:deleteScannedManualDocResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/deleteScannedManualDocResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/deleteScannedManualDoc/Fault/ErrorSavingException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/ScannedDocUploadDelegate/deleteScannedManualDoc/Fault/RequiredFieldMissingException"/>
    </operation>
  </portType>
  <binding name="ScannedDocUploadPortBinding" type="tns:ScannedDocUploadDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="uploadFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getFileContents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getScannedDocById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteScannedDoc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteScannedManualDoc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ScannedDocUploadService">
    <port binding="tns:ScannedDocUploadPortBinding" name="ScannedDocUploadPort">
      <soap:address location="http://localhost:9081/ROMSWS/ScannedDocUploadService"/>
    </port>
  </service>
</definitions>