WebContent/WEB-INF/wsdl/SchedulerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="SchedulerService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="SchedulerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="updatePoliceOfficer">
    <part element="tns:updatePoliceOfficer" name="parameters"/>
  </message>
  <message name="updatePoliceOfficerResponse">
    <part element="tns:updatePoliceOfficerResponse" name="parameters"/>
  </message>
  <message name="ErrorSavingException">
    <part element="tns:ErrorSavingException" name="fault"/>
  </message>
  <message name="NoRecordFoundException">
    <part element="tns:NoRecordFoundException" name="fault"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="updateTAStaff">
    <part element="tns:updateTAStaff" name="parameters"/>
  </message>
  <message name="updateTAStaffResponse">
    <part element="tns:updateTAStaffResponse" name="parameters"/>
  </message>
  <message name="updatePlea">
    <part element="tns:updatePlea" name="parameters"/>
  </message>
  <message name="updatePleaResponse">
    <part element="tns:updatePleaResponse" name="parameters"/>
  </message>
  <message name="updateVerdict">
    <part element="tns:updateVerdict" name="parameters"/>
  </message>
  <message name="updateVerdictResponse">
    <part element="tns:updateVerdictResponse" name="parameters"/>
  </message>
  <message name="updateCourtRuling">
    <part element="tns:updateCourtRuling" name="parameters"/>
  </message>
  <message name="updateCourtRulingResponse">
    <part element="tns:updateCourtRulingResponse" name="parameters"/>
  </message>
  <message name="getLasRunProcesses">
    <part element="tns:getLasRunProcesses" name="parameters"/>
  </message>
  <message name="getLasRunProcessesResponse">
    <part element="tns:getLasRunProcessesResponse" name="parameters"/>
  </message>
  <portType name="SchedulerDelegate">
    <operation name="updatePoliceOfficer">
      <input message="tns:updatePoliceOfficer" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePoliceOfficerRequest"/>
      <output message="tns:updatePoliceOfficerResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePoliceOfficerResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePoliceOfficer/Fault/ErrorSavingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePoliceOfficer/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePoliceOfficer/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updateTAStaff">
      <input message="tns:updateTAStaff" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateTAStaffRequest"/>
      <output message="tns:updateTAStaffResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateTAStaffResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateTAStaff/Fault/ErrorSavingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateTAStaff/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateTAStaff/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updatePlea">
      <input message="tns:updatePlea" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePleaRequest"/>
      <output message="tns:updatePleaResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePleaResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePlea/Fault/ErrorSavingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePlea/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updatePlea/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updateVerdict">
      <input message="tns:updateVerdict" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateVerdictRequest"/>
      <output message="tns:updateVerdictResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateVerdictResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateVerdict/Fault/ErrorSavingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateVerdict/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateVerdict/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="updateCourtRuling">
      <input message="tns:updateCourtRuling" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateCourtRulingRequest"/>
      <output message="tns:updateCourtRulingResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateCourtRulingResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateCourtRuling/Fault/ErrorSavingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateCourtRuling/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/updateCourtRuling/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getLasRunProcesses">
      <input message="tns:getLasRunProcesses" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/getLasRunProcessesRequest"/>
      <output message="tns:getLasRunProcessesResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/getLasRunProcessesResponse"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/getLasRunProcesses/Fault/ErrorSavingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/SchedulerDelegate/getLasRunProcesses/Fault/NoRecordFoundException"/>
    </operation>
  </portType>
  <binding name="SchedulerPortBinding" type="tns:SchedulerDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="updatePoliceOfficer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateTAStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updatePlea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateVerdict">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateCourtRuling">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getLasRunProcesses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SchedulerService">
    <port binding="tns:SchedulerPortBinding" name="SchedulerPort">
      <soap:address location="http://localhost:9080/ROMSWS/SchedulerService"/>
    </port>
  </service>
</definitions>