WebContent/WEB-INF/wsdl/StaffUserMappingService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:53 PM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="StaffUserMappingService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="StaffUserMappingService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="lookupAllStaff">
    <part element="tns:lookupAllStaff" name="parameters"/>
  </message>
  <message name="lookupAllStaffResponse">
    <part element="tns:lookupAllStaffResponse" name="parameters"/>
  </message>
  <message name="NoRecordFoundException">
    <part element="tns:NoRecordFoundException" name="fault"/>
  </message>
  <message name="lookupActiveStaff">
    <part element="tns:lookupActiveStaff" name="parameters"/>
  </message>
  <message name="lookupActiveStaffResponse">
    <part element="tns:lookupActiveStaffResponse" name="parameters"/>
  </message>
  <message name="lookupAllUnmappedStaff">
    <part element="tns:lookupAllUnmappedStaff" name="parameters"/>
  </message>
  <message name="lookupAllUnmappedStaffResponse">
    <part element="tns:lookupAllUnmappedStaffResponse" name="parameters"/>
  </message>
  <message name="lookupActiveUnmappedStaff">
    <part element="tns:lookupActiveUnmappedStaff" name="parameters"/>
  </message>
  <message name="lookupActiveUnmappedStaffResponse">
    <part element="tns:lookupActiveUnmappedStaffResponse" name="parameters"/>
  </message>
  <message name="lookupAllUsers">
    <part element="tns:lookupAllUsers" name="parameters"/>
  </message>
  <message name="lookupAllUsersResponse">
    <part element="tns:lookupAllUsersResponse" name="parameters"/>
  </message>
  <message name="lookupActiveUsers">
    <part element="tns:lookupActiveUsers" name="parameters"/>
  </message>
  <message name="lookupActiveUsersResponse">
    <part element="tns:lookupActiveUsersResponse" name="parameters"/>
  </message>
  <message name="lookupAllUnmappedUsers">
    <part element="tns:lookupAllUnmappedUsers" name="parameters"/>
  </message>
  <message name="lookupAllUnmappedUsersResponse">
    <part element="tns:lookupAllUnmappedUsersResponse" name="parameters"/>
  </message>
  <message name="lookupActiveUnmappedUsers">
    <part element="tns:lookupActiveUnmappedUsers" name="parameters"/>
  </message>
  <message name="lookupActiveUnmappedUsersResponse">
    <part element="tns:lookupActiveUnmappedUsersResponse" name="parameters"/>
  </message>
  <message name="lookupStaffUserMappings">
    <part element="tns:lookupStaffUserMappings" name="parameters"/>
  </message>
  <message name="lookupStaffUserMappingsResponse">
    <part element="tns:lookupStaffUserMappingsResponse" name="parameters"/>
  </message>
  <message name="isUserMapped">
    <part element="tns:isUserMapped" name="parameters"/>
  </message>
  <message name="isUserMappedResponse">
    <part element="tns:isUserMappedResponse" name="parameters"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="staffExists">
    <part element="tns:staffExists" name="parameters"/>
  </message>
  <message name="staffExistsResponse">
    <part element="tns:staffExistsResponse" name="parameters"/>
  </message>
  <message name="isStaffMapped">
    <part element="tns:isStaffMapped" name="parameters"/>
  </message>
  <message name="isStaffMappedResponse">
    <part element="tns:isStaffMappedResponse" name="parameters"/>
  </message>
  <message name="getStaffByUsername">
    <part element="tns:getStaffByUsername" name="parameters"/>
  </message>
  <message name="getStaffByUsernameResponse">
    <part element="tns:getStaffByUsernameResponse" name="parameters"/>
  </message>
  <message name="saveStaffUserMapping">
    <part element="tns:saveStaffUserMapping" name="parameters"/>
  </message>
  <message name="saveStaffUserMappingResponse">
    <part element="tns:saveStaffUserMappingResponse" name="parameters"/>
  </message>
  <message name="InvalidFieldException">
    <part element="tns:InvalidFieldException" name="fault"/>
  </message>
  <message name="ErrorSavingException">
    <part element="tns:ErrorSavingException" name="fault"/>
  </message>
  <message name="updateStaffUserMapping">
    <part element="tns:updateStaffUserMapping" name="parameters"/>
  </message>
  <message name="updateStaffUserMappingResponse">
    <part element="tns:updateStaffUserMappingResponse" name="parameters"/>
  </message>
  <message name="taStaffExistWithTRN">
    <part element="tns:taStaffExistWithTRN" name="parameters"/>
  </message>
  <message name="taStaffExistWithTRNResponse">
    <part element="tns:taStaffExistWithTRNResponse" name="parameters"/>
  </message>
  <message name="getAllROMSStaff">
    <part element="tns:getAllROMSStaff" name="parameters"/>
  </message>
  <message name="getAllROMSStaffResponse">
    <part element="tns:getAllROMSStaffResponse" name="parameters"/>
  </message>
  <message name="lookupTAStaff">
    <part element="tns:lookupTAStaff" name="parameters"/>
  </message>
  <message name="lookupTAStaffResponse">
    <part element="tns:lookupTAStaffResponse" name="parameters"/>
  </message>
  <message name="lookupBIMSStaffType">
    <part element="tns:lookupBIMSStaffType" name="parameters"/>
  </message>
  <message name="lookupBIMSStaffTypeResponse">
    <part element="tns:lookupBIMSStaffTypeResponse" name="parameters"/>
  </message>
  <message name="lookupUsersByCriteria">
    <part element="tns:lookupUsersByCriteria" name="parameters"/>
  </message>
  <message name="lookupUsersByCriteriaResponse">
    <part element="tns:lookupUsersByCriteriaResponse" name="parameters"/>
  </message>
  <message name="lookupAllUnmappedUsersByCriteria">
    <part element="tns:lookupAllUnmappedUsersByCriteria" name="parameters"/>
  </message>
  <message name="lookupAllUnmappedUsersByCriteriaResponse">
    <part element="tns:lookupAllUnmappedUsersByCriteriaResponse" name="parameters"/>
  </message>
  <message name="lookupAllUnmappedUsersByCriteriaExceptSpecificUser">
    <part element="tns:lookupAllUnmappedUsersByCriteriaExceptSpecificUser" name="parameters"/>
  </message>
  <message name="lookupAllUnmappedUsersByCriteriaExceptSpecificUserResponse">
    <part element="tns:lookupAllUnmappedUsersByCriteriaExceptSpecificUserResponse" name="parameters"/>
  </message>
  <message name="saveOrUpdateStaffUserMapping">
    <part element="tns:saveOrUpdateStaffUserMapping" name="parameters"/>
  </message>
  <message name="saveOrUpdateStaffUserMappingResponse">
    <part element="tns:saveOrUpdateStaffUserMappingResponse" name="parameters"/>
  </message>
  <message name="lookupLMISUser">
    <part element="tns:lookupLMISUser" name="parameters"/>
  </message>
  <message name="lookupLMISUserResponse">
    <part element="tns:lookupLMISUserResponse" name="parameters"/>
  </message>
  <message name="isValidUsernameTAStaffRegionMapping">
    <part element="tns:isValidUsernameTAStaffRegionMapping" name="parameters"/>
  </message>
  <message name="isValidUsernameTAStaffRegionMappingResponse">
    <part element="tns:isValidUsernameTAStaffRegionMappingResponse" name="parameters"/>
  </message>
  <message name="UserMappingException">
    <part element="tns:UserMappingException" name="fault"/>
  </message>
  <portType name="StaffUserMappingDelegate">
    <operation name="lookupAllStaff">
      <input message="tns:lookupAllStaff" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllStaffRequest"/>
      <output message="tns:lookupAllStaffResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllStaffResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllStaff/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupActiveStaff">
      <input message="tns:lookupActiveStaff" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveStaffRequest"/>
      <output message="tns:lookupActiveStaffResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveStaffResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveStaff/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupAllUnmappedStaff">
      <input message="tns:lookupAllUnmappedStaff" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedStaffRequest"/>
      <output message="tns:lookupAllUnmappedStaffResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedStaffResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedStaff/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupActiveUnmappedStaff">
      <input message="tns:lookupActiveUnmappedStaff" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveUnmappedStaffRequest"/>
      <output message="tns:lookupActiveUnmappedStaffResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveUnmappedStaffResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveUnmappedStaff/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupAllUsers">
      <input message="tns:lookupAllUsers" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUsersRequest"/>
      <output message="tns:lookupAllUsersResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUsersResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUsers/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupActiveUsers">
      <input message="tns:lookupActiveUsers" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveUsersRequest"/>
      <output message="tns:lookupActiveUsersResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveUsersResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveUsers/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupAllUnmappedUsers">
      <input message="tns:lookupAllUnmappedUsers" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersRequest"/>
      <output message="tns:lookupAllUnmappedUsersResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsers/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupActiveUnmappedUsers">
      <input message="tns:lookupActiveUnmappedUsers" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveUnmappedUsersRequest"/>
      <output message="tns:lookupActiveUnmappedUsersResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveUnmappedUsersResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupActiveUnmappedUsers/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupStaffUserMappings">
      <input message="tns:lookupStaffUserMappings" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupStaffUserMappingsRequest"/>
      <output message="tns:lookupStaffUserMappingsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupStaffUserMappingsResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupStaffUserMappings/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="isUserMapped">
      <input message="tns:isUserMapped" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isUserMappedRequest"/>
      <output message="tns:isUserMappedResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isUserMappedResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isUserMapped/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="staffExists">
      <input message="tns:staffExists" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/staffExistsRequest"/>
      <output message="tns:staffExistsResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/staffExistsResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/staffExists/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="isStaffMapped">
      <input message="tns:isStaffMapped" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isStaffMappedRequest"/>
      <output message="tns:isStaffMappedResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isStaffMappedResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isStaffMapped/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getStaffByUsername">
      <input message="tns:getStaffByUsername" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/getStaffByUsernameRequest"/>
      <output message="tns:getStaffByUsernameResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/getStaffByUsernameResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/getStaffByUsername/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/getStaffByUsername/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="saveStaffUserMapping">
      <input message="tns:saveStaffUserMapping" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveStaffUserMappingRequest"/>
      <output message="tns:saveStaffUserMappingResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveStaffUserMappingResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveStaffUserMapping/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveStaffUserMapping/Fault/InvalidFieldException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveStaffUserMapping/Fault/ErrorSavingException"/>
    </operation>
    <operation name="updateStaffUserMapping">
      <input message="tns:updateStaffUserMapping" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/updateStaffUserMappingRequest"/>
      <output message="tns:updateStaffUserMappingResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/updateStaffUserMappingResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/updateStaffUserMapping/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/updateStaffUserMapping/Fault/InvalidFieldException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/updateStaffUserMapping/Fault/ErrorSavingException"/>
    </operation>
    <operation name="taStaffExistWithTRN">
      <input message="tns:taStaffExistWithTRN" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/taStaffExistWithTRNRequest"/>
      <output message="tns:taStaffExistWithTRNResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/taStaffExistWithTRNResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/taStaffExistWithTRN/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="getAllROMSStaff">
      <input message="tns:getAllROMSStaff" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/getAllROMSStaffRequest"/>
      <output message="tns:getAllROMSStaffResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/getAllROMSStaffResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/getAllROMSStaff/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupTAStaff">
      <input message="tns:lookupTAStaff" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupTAStaffRequest"/>
      <output message="tns:lookupTAStaffResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupTAStaffResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupTAStaff/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupBIMSStaffType">
      <input message="tns:lookupBIMSStaffType" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupBIMSStaffTypeRequest"/>
      <output message="tns:lookupBIMSStaffTypeResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupBIMSStaffTypeResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupBIMSStaffType/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="lookupUsersByCriteria">
      <input message="tns:lookupUsersByCriteria" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupUsersByCriteriaRequest"/>
      <output message="tns:lookupUsersByCriteriaResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupUsersByCriteriaResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupUsersByCriteria/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupUsersByCriteria/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="lookupAllUnmappedUsersByCriteria">
      <input message="tns:lookupAllUnmappedUsersByCriteria" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersByCriteriaRequest"/>
      <output message="tns:lookupAllUnmappedUsersByCriteriaResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersByCriteriaResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersByCriteria/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersByCriteria/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="lookupAllUnmappedUsersByCriteriaExceptSpecificUser">
      <input message="tns:lookupAllUnmappedUsersByCriteriaExceptSpecificUser" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersByCriteriaExceptSpecificUserRequest"/>
      <output message="tns:lookupAllUnmappedUsersByCriteriaExceptSpecificUserResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersByCriteriaExceptSpecificUserResponse"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersByCriteriaExceptSpecificUser/Fault/NoRecordFoundException"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupAllUnmappedUsersByCriteriaExceptSpecificUser/Fault/RequiredFieldMissingException"/>
    </operation>
    <operation name="saveOrUpdateStaffUserMapping">
      <input message="tns:saveOrUpdateStaffUserMapping" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveOrUpdateStaffUserMappingRequest"/>
      <output message="tns:saveOrUpdateStaffUserMappingResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveOrUpdateStaffUserMappingResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveOrUpdateStaffUserMapping/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveOrUpdateStaffUserMapping/Fault/InvalidFieldException"/>
      <fault message="tns:ErrorSavingException" name="ErrorSavingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/saveOrUpdateStaffUserMapping/Fault/ErrorSavingException"/>
    </operation>
    <operation name="lookupLMISUser">
      <input message="tns:lookupLMISUser" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupLMISUserRequest"/>
      <output message="tns:lookupLMISUserResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupLMISUserResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupLMISUser/Fault/RequiredFieldMissingException"/>
      <fault message="tns:NoRecordFoundException" name="NoRecordFoundException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/lookupLMISUser/Fault/NoRecordFoundException"/>
    </operation>
    <operation name="isValidUsernameTAStaffRegionMapping">
      <input message="tns:isValidUsernameTAStaffRegionMapping" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isValidUsernameTAStaffRegionMappingRequest"/>
      <output message="tns:isValidUsernameTAStaffRegionMappingResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isValidUsernameTAStaffRegionMappingResponse"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isValidUsernameTAStaffRegionMapping/Fault/RequiredFieldMissingException"/>
      <fault message="tns:InvalidFieldException" name="InvalidFieldException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isValidUsernameTAStaffRegionMapping/Fault/InvalidFieldException"/>
      <fault message="tns:UserMappingException" name="UserMappingException" wsam:Action="http://webservices.roms.toms.ta.fsl/StaffUserMappingDelegate/isValidUsernameTAStaffRegionMapping/Fault/UserMappingException"/>
    </operation>
  </portType>
  <binding name="StaffUserMappingPortBinding" type="tns:StaffUserMappingDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="lookupAllStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupActiveStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupAllUnmappedStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupActiveUnmappedStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupAllUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupActiveUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupAllUnmappedUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupActiveUnmappedUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupStaffUserMappings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="isUserMapped">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="staffExists">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="isStaffMapped">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getStaffByUsername">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveStaffUserMapping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateStaffUserMapping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="taStaffExistWithTRN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllROMSStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupTAStaff">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupBIMSStaffType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupUsersByCriteria">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupAllUnmappedUsersByCriteria">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupAllUnmappedUsersByCriteriaExceptSpecificUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveOrUpdateStaffUserMapping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="ErrorSavingException">
        <soap:fault name="ErrorSavingException" use="literal"/>
      </fault>
    </operation>
    <operation name="lookupLMISUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="NoRecordFoundException">
        <soap:fault name="NoRecordFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="isValidUsernameTAStaffRegionMapping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="InvalidFieldException">
        <soap:fault name="InvalidFieldException" use="literal"/>
      </fault>
      <fault name="UserMappingException">
        <soap:fault name="UserMappingException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="StaffUserMappingService">
    <port binding="tns:StaffUserMappingPortBinding" name="StaffUserMappingPort">
      <soap:address location="http://localhost:9082/ROMSWS/StaffUserMappingService"/>
    </port>
  </service>
</definitions>