WebContent/WEB-INF/wsdl/TRNWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:28 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="TRNWebService" targetNamespace="http://webservices.roms.toms.ta.fsl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.roms.toms.ta.fsl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.roms.toms.ta.fsl/" schemaLocation="TRNWebService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://exceptions.common.webservices.fsl.org" schemaLocation="TRNWebService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://dto.common.webservices.fsl.org" schemaLocation="TRNWebService_schema3.xsd"/>
    </xsd:schema>
  </types>
  <message name="getPersonBOByTrn">
    <part element="tns:getPersonBOByTrn" name="parameters"/>
  </message>
  <message name="getPersonBOByTrnResponse">
    <part element="tns:getPersonBOByTrnResponse" name="parameters"/>
  </message>
  <message name="InvalidTrnBranchException_Exception">
    <part element="ns1:InvalidTrnBranchException" name="fault" xmlns:ns1="http://exceptions.common.webservices.fsl.org"/>
  </message>
  <message name="NotValidTrnTypeException_Exception">
    <part element="ns2:NotValidTrnTypeException" name="fault" xmlns:ns2="http://exceptions.common.webservices.fsl.org"/>
  </message>
  <message name="SystemErrorException_Exception">
    <part element="ns3:SystemErrorException" name="fault" xmlns:ns3="http://exceptions.common.webservices.fsl.org"/>
  </message>
  <message name="RequiredFieldMissingException">
    <part element="tns:RequiredFieldMissingException" name="fault"/>
  </message>
  <message name="TaxPayerClosedException">
    <part element="tns:TaxPayerClosedException" name="fault"/>
  </message>
  <message name="TaxPayerDeceasedException">
    <part element="tns:TaxPayerDeceasedException" name="fault"/>
  </message>
  <message name="TaxPayerRetiredException">
    <part element="tns:TaxPayerRetiredException" name="fault"/>
  </message>
  <message name="TaxPayerUnintendedException">
    <part element="tns:TaxPayerUnintendedException" name="fault"/>
  </message>
  <message name="InvalidTaxPayerException">
    <part element="tns:InvalidTaxPayerException" name="fault"/>
  </message>
  <message name="getWreckingBOByTrn">
    <part element="tns:getWreckingBOByTrn" name="parameters"/>
  </message>
  <message name="getWreckingBOByTrnResponse">
    <part element="tns:getWreckingBOByTrnResponse" name="parameters"/>
  </message>
  <message name="RetiredTRNException_Exception">
    <part element="ns4:RetiredTRNException" name="fault" xmlns:ns4="http://exceptions.common.webservices.fsl.org"/>
  </message>
  <message name="getrnDTOByTrn">
    <part element="tns:getrnDTOByTrn" name="parameters"/>
  </message>
  <message name="getrnDTOByTrnResponse">
    <part element="tns:getrnDTOByTrnResponse" name="parameters"/>
  </message>
  <portType name="TRNWebServiceDelegate">
    <operation name="getPersonBOByTrn">
      <input message="tns:getPersonBOByTrn" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrnRequest"/>
      <output message="tns:getPersonBOByTrnResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrnResponse"/>
      <fault message="tns:InvalidTrnBranchException_Exception" name="InvalidTrnBranchException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrn/Fault/InvalidTrnBranchException_Exception"/>
      <fault message="tns:NotValidTrnTypeException_Exception" name="NotValidTrnTypeException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrn/Fault/NotValidTrnTypeException_Exception"/>
      <fault message="tns:SystemErrorException_Exception" name="SystemErrorException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrn/Fault/SystemErrorException_Exception"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrn/Fault/RequiredFieldMissingException"/>
      <fault message="tns:TaxPayerClosedException" name="TaxPayerClosedException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrn/Fault/TaxPayerClosedException"/>
      <fault message="tns:TaxPayerDeceasedException" name="TaxPayerDeceasedException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrn/Fault/TaxPayerDeceasedException"/>
      <fault message="tns:TaxPayerRetiredException" name="TaxPayerRetiredException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrn/Fault/TaxPayerRetiredException"/>
      <fault message="tns:TaxPayerUnintendedException" name="TaxPayerUnintendedException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrn/Fault/TaxPayerUnintendedException"/>
      <fault message="tns:InvalidTaxPayerException" name="InvalidTaxPayerException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getPersonBOByTrn/Fault/InvalidTaxPayerException"/>
    </operation>
    <operation name="getWreckingBOByTrn">
      <input message="tns:getWreckingBOByTrn" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrnRequest"/>
      <output message="tns:getWreckingBOByTrnResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrnResponse"/>
      <fault message="tns:InvalidTrnBranchException_Exception" name="InvalidTrnBranchException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrn/Fault/InvalidTrnBranchException_Exception"/>
      <fault message="tns:NotValidTrnTypeException_Exception" name="NotValidTrnTypeException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrn/Fault/NotValidTrnTypeException_Exception"/>
      <fault message="tns:SystemErrorException_Exception" name="SystemErrorException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrn/Fault/SystemErrorException_Exception"/>
      <fault message="tns:RetiredTRNException_Exception" name="RetiredTRNException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrn/Fault/RetiredTRNException_Exception"/>
      <fault message="tns:TaxPayerClosedException" name="TaxPayerClosedException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrn/Fault/TaxPayerClosedException"/>
      <fault message="tns:TaxPayerDeceasedException" name="TaxPayerDeceasedException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrn/Fault/TaxPayerDeceasedException"/>
      <fault message="tns:TaxPayerRetiredException" name="TaxPayerRetiredException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrn/Fault/TaxPayerRetiredException"/>
      <fault message="tns:TaxPayerUnintendedException" name="TaxPayerUnintendedException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrn/Fault/TaxPayerUnintendedException"/>
      <fault message="tns:InvalidTaxPayerException" name="InvalidTaxPayerException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getWreckingBOByTrn/Fault/InvalidTaxPayerException"/>
    </operation>
    <operation name="getrnDTOByTrn">
      <input message="tns:getrnDTOByTrn" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrnRequest"/>
      <output message="tns:getrnDTOByTrnResponse" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrnResponse"/>
      <fault message="tns:InvalidTrnBranchException_Exception" name="InvalidTrnBranchException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrn/Fault/InvalidTrnBranchException_Exception"/>
      <fault message="tns:NotValidTrnTypeException_Exception" name="NotValidTrnTypeException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrn/Fault/NotValidTrnTypeException_Exception"/>
      <fault message="tns:SystemErrorException_Exception" name="SystemErrorException_Exception" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrn/Fault/SystemErrorException_Exception"/>
      <fault message="tns:RequiredFieldMissingException" name="RequiredFieldMissingException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrn/Fault/RequiredFieldMissingException"/>
      <fault message="tns:TaxPayerClosedException" name="TaxPayerClosedException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrn/Fault/TaxPayerClosedException"/>
      <fault message="tns:TaxPayerDeceasedException" name="TaxPayerDeceasedException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrn/Fault/TaxPayerDeceasedException"/>
      <fault message="tns:TaxPayerRetiredException" name="TaxPayerRetiredException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrn/Fault/TaxPayerRetiredException"/>
      <fault message="tns:TaxPayerUnintendedException" name="TaxPayerUnintendedException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrn/Fault/TaxPayerUnintendedException"/>
      <fault message="tns:InvalidTaxPayerException" name="InvalidTaxPayerException" wsam:Action="http://webservices.roms.toms.ta.fsl/TRNWebServiceDelegate/getrnDTOByTrn/Fault/InvalidTaxPayerException"/>
    </operation>
  </portType>
  <binding name="TRNWebServicePortBinding" type="tns:TRNWebServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getPersonBOByTrn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidTrnBranchException_Exception">
        <soap:fault name="InvalidTrnBranchException_Exception" use="literal"/>
      </fault>
      <fault name="NotValidTrnTypeException_Exception">
        <soap:fault name="NotValidTrnTypeException_Exception" use="literal"/>
      </fault>
      <fault name="SystemErrorException_Exception">
        <soap:fault name="SystemErrorException_Exception" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="TaxPayerClosedException">
        <soap:fault name="TaxPayerClosedException" use="literal"/>
      </fault>
      <fault name="TaxPayerDeceasedException">
        <soap:fault name="TaxPayerDeceasedException" use="literal"/>
      </fault>
      <fault name="TaxPayerRetiredException">
        <soap:fault name="TaxPayerRetiredException" use="literal"/>
      </fault>
      <fault name="TaxPayerUnintendedException">
        <soap:fault name="TaxPayerUnintendedException" use="literal"/>
      </fault>
      <fault name="InvalidTaxPayerException">
        <soap:fault name="InvalidTaxPayerException" use="literal"/>
      </fault>
    </operation>
    <operation name="getWreckingBOByTrn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidTrnBranchException_Exception">
        <soap:fault name="InvalidTrnBranchException_Exception" use="literal"/>
      </fault>
      <fault name="NotValidTrnTypeException_Exception">
        <soap:fault name="NotValidTrnTypeException_Exception" use="literal"/>
      </fault>
      <fault name="SystemErrorException_Exception">
        <soap:fault name="SystemErrorException_Exception" use="literal"/>
      </fault>
      <fault name="RetiredTRNException_Exception">
        <soap:fault name="RetiredTRNException_Exception" use="literal"/>
      </fault>
      <fault name="TaxPayerClosedException">
        <soap:fault name="TaxPayerClosedException" use="literal"/>
      </fault>
      <fault name="TaxPayerDeceasedException">
        <soap:fault name="TaxPayerDeceasedException" use="literal"/>
      </fault>
      <fault name="TaxPayerRetiredException">
        <soap:fault name="TaxPayerRetiredException" use="literal"/>
      </fault>
      <fault name="TaxPayerUnintendedException">
        <soap:fault name="TaxPayerUnintendedException" use="literal"/>
      </fault>
      <fault name="InvalidTaxPayerException">
        <soap:fault name="InvalidTaxPayerException" use="literal"/>
      </fault>
    </operation>
    <operation name="getrnDTOByTrn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidTrnBranchException_Exception">
        <soap:fault name="InvalidTrnBranchException_Exception" use="literal"/>
      </fault>
      <fault name="NotValidTrnTypeException_Exception">
        <soap:fault name="NotValidTrnTypeException_Exception" use="literal"/>
      </fault>
      <fault name="SystemErrorException_Exception">
        <soap:fault name="SystemErrorException_Exception" use="literal"/>
      </fault>
      <fault name="RequiredFieldMissingException">
        <soap:fault name="RequiredFieldMissingException" use="literal"/>
      </fault>
      <fault name="TaxPayerClosedException">
        <soap:fault name="TaxPayerClosedException" use="literal"/>
      </fault>
      <fault name="TaxPayerDeceasedException">
        <soap:fault name="TaxPayerDeceasedException" use="literal"/>
      </fault>
      <fault name="TaxPayerRetiredException">
        <soap:fault name="TaxPayerRetiredException" use="literal"/>
      </fault>
      <fault name="TaxPayerUnintendedException">
        <soap:fault name="TaxPayerUnintendedException" use="literal"/>
      </fault>
      <fault name="InvalidTaxPayerException">
        <soap:fault name="InvalidTaxPayerException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="TRNWebService">
    <port binding="tns:TRNWebServicePortBinding" name="TRNWebServicePort">
      <soap:address location="http://localhost:9080/ROMSWS/TRNWebService"/>
    </port>
  </service>
</definitions>